.wj-listbox {
	width: 100%;
	border: none;
}

.wj-content {
	border: none;
	border-radius: 0;
}

.tablecontainer > .info {
	width: 20%
}

.tablecontainer > .text {
	padding: 0.5em 1em;
}

.left,
.right {
	width: 50%;
}

.tablecontainer {
	margin-top: 0;
}

.with-border {
	margin-top: 2em;
	padding: 0 1em 1em;
	border: solid 1px #ccc;
	border-radius: 4px;
}


.tablerowcontainer > .middle {
	padding: 0 2em;
	vertical-align: middle;
	text-align: center;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.upload-btn-wrapper input[type=file] {
	font-size: 10px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
}
.button {
	margin-bottom: 1.8em;
}

div[class*=col-] {
	margin-bottom: 0.3em!important;
}


	form {
		margin-block-end: 0!important;
	}

