<button [ngClass]="buttonCss" (click)="toggle()" [attr.aria-expanded]="!collapsed">
  {{facetteTitle}}
  @if (!collapsed) {
    <span class="sr-only" >{{'Filter einblenden' | translate:'facette.showFilter' }}"</span>
  }
  @if (collapsed) {
    <span class="sr-only" >{{'Filter ausblenden' | translate:'facette.hideFilter' }}"</span>
  }
</button>
<ul [id]="normalizedId" [ngClass]="ulCss" [@collapsedState]="collapsed ? 'collapsed' : 'expanded'" [attr.aria-hidden]="collapsed" [attr.tabindex]="collapsed ? -1 : 0">
  @for (a of facette?.items; track a) {
    <cmi-viaduc-facette-entry [active]="isActive(a.filter)" [agg]="a" [facette]="this" [collapsed]="collapsed">
    </cmi-viaduc-facette-entry>
  }

  @if (facette && facette.sumOtherDocCount > 0) {
    <li class="nav-item-other" tabindex="0" [attr.aria-hidden]="collapsed" [attr.tabindex]="collapsed ? -1 : 0">
      <span>
        <span>{{'Andere' | translate:'facette.weitereTreffer'}}</span>
        <span class="badge">{{facette.sumOtherDocCount}}
          <span class="sr-only">{{'Treffer' |	translate:'facette.treffer'}}</span>
        </span>
      </span>
    </li>
  }

  @if (facette && facette.sumOtherDocCount > 0) {
    <cmi-search-facette-show-all (onFacetteShowAll)="showAll($event)" [facette]="this" [collapsed]="collapsed">
    </cmi-search-facette-show-all>
  }
</ul>
