<html>
<head>
    <style TYPE="text/css">
        body { font-family: Sans-Serif; }
    </style>
</head>
<body>
    Benutzer*in {{User.Vorname}} {{User.Name}} hat versucht, sich für WebOZ zu identifizieren. Die Identifizierung konnte nicht erfolgreich abgeschlossen werden.
    Bitte prüfen Sie den Vorgang im <a href="https://bar.fidentity.ch/admin">Dashboard</a> und bestätigen Sie die Identifizierung oder lehnen Sie sie ab.
    <br>
    <br>
    Mit freundlichen Grüssen<br>
    <br>
    Eidgenössisches Departement des Innern EDI<br>
    Schweizerisches Bundesarchiv BAR<br>
    Archivstrasse 24, CH-3003 Bern<br>
    <br>
    <a href="mailto:benutzer-admin@bar.admin.ch">benutzer-admin@bar.admin.ch</a><br>
    <a href="http://www.bar.admin.ch">www.bar.admin.ch</a><br>
    <br>
    <p>
        Folgen Sie dem Bundesarchiv:<br />
        <a href='https://twitter.com/ch_bundesarchiv'>Twitter</a>
        –
        <a href='https://www.instagram.com/ch_bundesarchiv/'>Instagram</a>
        –
        <a href='https://www.facebook.com/Bundesarchiv.Schweiz'>Facebook</a>
        –
        <a href='https://www.youtube.com/user/Bundesarchiv'>Youtube</a>
    </p>
</body>
</html>
