<html>
<head>
    <style TYPE="text/css">
        body { font-family: Sans-Serif; }
    </style>
</head>
<body>
    {{#User.IstDeutsch}}

    Guten Tag, <br>
    <br>
    Ihre Online-Identifizierung konnte leider nicht erfolgreich ausgeführt werden. Wir werden den Vorgang prüfen und uns bei Ihnen melden.
    <br>
    <br>
    Mit freundlichen Grüssen<br>
    <br>
    Eidgenössisches Departement des Innern EDI<br>
    Schweizerisches Bundesarchiv BAR<br>
    Archivstrasse 24, CH-3003 Bern<br>
    <br>
    <a href="mailto:benutzer-admin@bar.admin.ch">benutzer-admin@bar.admin.ch</a><br>
    <a href="http://www.bar.admin.ch">www.bar.admin.ch</a><br>
    <br>
    <p>
        Folgen Sie dem Bundesarchiv:<br />
        <a href='https://twitter.com/ch_bundesarchiv'>Twitter</a>
        –
        <a href='https://www.instagram.com/ch_bundesarchiv/'>Instagram</a>
        –
        <a href='https://www.facebook.com/Bundesarchiv.Schweiz'>Facebook</a>
        –
        <a href='https://www.youtube.com/user/Bundesarchiv'>Youtube</a>
    </p>
    {{/User.IstDeutsch}}

    {{#User.IstFranzösisch}}
    Bonjour,<br>
    <br>
    Nous sommes désolés, mais votre identification en ligne n'a pas pu être effectuée avec succès. Nous allons vérifier le processus et vous contacter.
    <br>
    <br>
    Meilleures salutations<br>
    <br>
    Département fédéral de l’intérieur DFI <br />
    Archives fédérales suisses AFS <br />
    Archivstrasse 24, CH-3003 Berne <br />

    <br>
    <a href="mailto:benutzer-admin@bar.admin.ch">benutzer-admin@bar.admin.ch</a><br>
    <a href="http://www.bar.admin.ch">www.bar.admin.ch</a><br>
    <br>
    <p>
        Suivez les Archives fédérales:<br />
        <a href='https://twitter.com/ch_bundesarchiv'>Twitter</a>
        –
        <a href='https://www.instagram.com/ch_bundesarchiv/'>Instagram</a>
        –
        <a href='https://www.facebook.com/Bundesarchiv.Schweiz'>Facebook</a>
        –
        <a href='https://www.youtube.com/user/Bundesarchiv'>Youtube</a>
    </p>
    {{/User.IstFranzösisch}}

    {{#User.IstItalienisch}}
    Buongiorno,<br>
    <br>
    Purtroppo, la sua identificazione online non ha potuto essere effettuata con successo. Verificheremo il processo e le faremo sapere.

    <br>
    <br>
    Distinti saluti<br>
    <br>
    Dipartimento federale dell’interno DFI <br />
    Archivio federale svizzero AFS <br />
    Archivstrasse 24, CH-3003 Berna <br />

    <br>
    <a href="mailto:benutzer-admin@bar.admin.ch">benutzer-admin@bar.admin.ch</a><br>
    <a href="http://www.bar.admin.ch">www.bar.admin.ch</a><br>
    <br>
    <p>
        Seguite l‘Archivio federale:<br />
        <a href='https://twitter.com/ch_bundesarchiv'>Twitter</a>
        –
        <a href='https://www.instagram.com/ch_bundesarchiv/'>Instagram</a>
        –
        <a href='https://www.facebook.com/Bundesarchiv.Schweiz'>Facebook</a>
        –
        <a href='https://www.youtube.com/user/Bundesarchiv'>Youtube</a>
    </p>
    {{/User.IstItalienisch}}

    {{#User.IstEnglisch}}
    Hello, <br>
    <br>
    Unfortunately, your online identification could not be carried out successfully. We will check the process and get back to you.
    <br>
    <br>
    Yours sincerely<br>
    <br>
    Federal Department of Home Affairs FDHA <br />
    Swiss Federal Archives SFA <br />
    Archivstrasse 24, CH-3003 Bern <br />

    <br>
    <a href="mailto:benutzer-admin@bar.admin.ch">benutzer-admin@bar.admin.ch</a><br>
    <a href="http://www.bar.admin.ch">www.bar.admin.ch</a><br>
    <br>
    <p>
        Follow the Federal Archives:<br\>
            <a href='https://twitter.com/ch_bundesarchiv'>Twitter</a>
            –
            <a href='https://www.instagram.com/ch_bundesarchiv/'>Instagram</a>
            –
            <a href='https://www.facebook.com/Bundesarchiv.Schweiz'>Facebook</a>
            –
            <a href='https://www.youtube.com/user/Bundesarchiv'>Youtube</a>
    </p>
    {{/User.IstEnglisch}}

</body>

</html>
