<html>
<head>
    <style TYPE="text/css">
        body { font-family: Sans-Serif; }
    </style>
</head>
<body>

    {{#User.IstDeutsch}}
    Guten Tag<br>
    <br>
    Ihre Identifizierung wurde soeben erfolgreich abgeschlossen. Bitte melden Sie sich neu auf <a href="https://{{Global.PublicClientUrl}}">recherche.bar.admin.ch</a> an. Danach stehen Ihnen sämtliche Funktionen der Website zur Verfügung.<br>
    <br>
    Bei Fragen zum Benutzerkonto wenden Sie sich bitte an die <a href="https://{{Global.PublicClientUrl}}">Beratung</a> oder antworten Sie auf diese E-Mail.<br>
    <br>
    Mit freundlichen Grüssen<br>
    <br>
    Eidgenössisches Departement des Innern EDI<br>
    Schweizerisches Bundesarchiv BAR<br>
    Archivstrasse 24, CH-3003 Bern<br>
    <br>
    <a href="mailto:info@bar.admin.ch">info@bar.admin.ch</a><br>
    <a href="http://www.bar.admin.ch">www.bar.admin.ch</a><br>
    <br>
    <p>
        Folgen Sie dem Bundesarchiv:<br />
        <a href='https://twitter.com/ch_bundesarchiv'>Twitter</a>
        –
        <a href='https://www.instagram.com/ch_bundesarchiv/'>Instagram</a>
        –
        <a href='https://www.facebook.com/Bundesarchiv.Schweiz'>Facebook</a>
        –
        <a href='https://www.youtube.com/user/Bundesarchiv'>Youtube</a>
    </p>
    {{/User.IstDeutsch}}

    {{#User.IstFranzösisch}}
    Bonjour,<br>
    <br>
    Votre identification s’est achevée avec succès. Vous pourrez vous reconnecter sur <a href="https://{{Global.PublicClientUrl}}">recherche.bar.admin.ch</a>. Dès lors, l’intégralité des fonctions du portail seront à votre disposition.
    <br>
    <br>
    Si vous avez des questions concernant votre compte d’utilisateur, vous pouvez vous adresser à notre <a href="https://{{Global.PublicClientUrl}}">service de conseil</a>
    en ligne ou répondre à cet e-mail.
    <br>
    <br>
    Meilleures salutations<br>
    <br>
    Département fédéral de l’intérieur DFI <br />
    Archives fédérales suisses AFS <br />
    Archivstrasse 24, CH-3003 Berne <br />

    <br>
    <a href="mailto:info@bar.admin.ch">info@bar.admin.ch</a><br>
    <a href="http://www.bar.admin.ch">www.bar.admin.ch</a><br>
    <br>
    <p>
        Suivez les Archives fédérales:<br />
        <a href='https://twitter.com/ch_bundesarchiv'>Twitter</a>
        –
        <a href='https://www.instagram.com/ch_bundesarchiv/'>Instagram</a>
        –
        <a href='https://www.facebook.com/Bundesarchiv.Schweiz'>Facebook</a>
        –
        <a href='https://www.youtube.com/user/Bundesarchiv'>Youtube</a>
    </p>
    {{/User.IstFranzösisch}}

    {{#User.IstItalienisch}}
    Buongiorno,<br>
    <br>
    l’identificazione è riuscita. Potrà effettuare un nuovo login sul portale <a href="https://{{Global.PublicClientUrl}}">recherche.bar.admin.ch</a>. In seguito potrà usufruire di tutte le funzioni messe a disposizione.<br>
    <br>
    Per qualsiasi informazione ulteriore può rivolgersi al servizio di <a href="https://{{Global.PublicClientUrl}}">consulenza on-line</a>
    oppure rispondere alla presente mail.

    <br>
    <br>
    Distinti saluti<br>
    <br>
    EDipartimento federale dell’interno DFI <br />
    Archivio federale svizzero AFS <br />
    Archivstrasse 24, CH-3003 Berna <br />

    <br>
    <a href="mailto:info@bar.admin.ch">info@bar.admin.ch</a><br>
    <a href="http://www.bar.admin.ch">www.bar.admin.ch</a><br>
    <br>
    <p>
        Seguite l‘Archivio federale:<br />
        <a href='https://twitter.com/ch_bundesarchiv'>Twitter</a>
        –
        <a href='https://www.instagram.com/ch_bundesarchiv/'>Instagram</a>
        –
        <a href='https://www.facebook.com/Bundesarchiv.Schweiz'>Facebook</a>
        –
        <a href='https://www.youtube.com/user/Bundesarchiv'>Youtube</a>
    </p>    
    {{/User.IstItalienisch}}

    {{#User.IstEnglisch}}
    Hello, <br>
    <br>
    Your identification has been successfully completed. After you log in anew at <a href="https://{{Global.PublicClientUrl}}">recherche.bar.admin.ch</a>, you will be able to use all the functions of the website.
    <br>
    <br>
    If you have any questions about your user account please contact our <a href="https://{{Global.PublicClientUrl}}">advice service</a> or reply to this e-mail.
    <br>
    <br>
    Yours sincerely<br>
    <br>
    Federal Department of Home Affairs FDHA <br />
    Swiss Federal Archives SFA <br />
    Archivstrasse 24, CH-3003 Bern <br />

    <br>
    <a href="mailto:info@bar.admin.ch">info@bar.admin.ch</a><br>
    <a href="http://www.bar.admin.ch">www.bar.admin.ch</a><br>
    <br>
    <p>
        Follow the Federal Archives:<br\>
            <a href='https://twitter.com/ch_bundesarchiv'>Twitter</a>
            –
            <a href='https://www.instagram.com/ch_bundesarchiv/'>Instagram</a>
            –
            <a href='https://www.facebook.com/Bundesarchiv.Schweiz'>Facebook</a>
            –
            <a href='https://www.youtube.com/user/Bundesarchiv'>Youtube</a>
    </p>
    {{/User.IstEnglisch}}
</body>
</html>