<html>
<head>
    <style TYPE="text/css">
        body { font-family: Sans-Serif; }
    </style>
</head>
<body>
    {{#User.IstDeutsch}}
    Guten Tag
    <br>
    <br>
    Sie haben versucht, sich via Fidentity für die Website <a href="https://{{Global.PublicClientUrl}}">recherche.bar.admin.ch</a> zu identifizieren. Leider war die Identifizierung nicht erfolgreich.
    <br>
    <br>
    Wenn Sie eine andere Möglichkeit zur Identifizierung nutzen möchten, antworten Sie bitte auf diese E-Mail.
    <br>
    <br>
    Mit freundlichen Grüssen<br>
    <br>
    Eidgenössisches Departement des Innern EDI<br>
    Schweizerisches Bundesarchiv BAR<br>
    Archivstrasse 24, CH-3003 Bern<br>
    <br>
    <a href="mailto:benutzer-admin@bar.admin.ch">benutzer-admin@bar.admin.ch</a><br>
    <a href="http://www.bar.admin.ch">www.bar.admin.ch</a><br>
    <br>
    <p>
        Folgen Sie dem Bundesarchiv:<br />
        <a href='https://twitter.com/ch_bundesarchiv'>Twitter</a>
        –
        <a href='https://www.instagram.com/ch_bundesarchiv/'>Instagram</a>
        –
        <a href='https://www.facebook.com/Bundesarchiv.Schweiz'>Facebook</a>
        –
        <a href='https://www.youtube.com/user/Bundesarchiv'>Youtube</a>
    </p>
    {{/User.IstDeutsch}}

    {{#User.IstFranzösisch}}
    Bonjour,
    <br>
    <br>
    Vous avez essayé de vous connecter au site web <a href="https://{{Global.PublicClientUrl}}">recherche.bar.admin.ch</a> via Fidentity. L’identification a malheureusement échoué.
    <br>
    <br>
    Si vous souhaitez procéder à une nouvelle tentative d’identification, veuillez nous en informer en répondant à cet e-mail.
    <br>
    <br>
    Meilleures salutations,<br>
    <br>
    Département fédéral de l’intérieur DFI <br />
    Archives fédérales suisses AFS <br />
    Archivstrasse 24, CH-3003 Berne <br />
    <br>
    <a href="mailto:benutzer-admin@bar.admin.ch">benutzer-admin@bar.admin.ch</a><br>
    <a href="http://www.bar.admin.ch">www.bar.admin.ch</a><br>
    <br>
    <p>
        Suivez les Archives fédérales<br />
        <a href='https://twitter.com/ch_bundesarchiv'>Twitter</a>
        –
        <a href='https://www.instagram.com/ch_bundesarchiv/'>Instagram</a>
        –
        <a href='https://www.facebook.com/Bundesarchiv.Schweiz'>Facebook</a>
        –
        <a href='https://www.youtube.com/user/Bundesarchiv'>Youtube</a>
    </p>
    {{/User.IstFranzösisch}}

    {{#User.IstItalienisch}}
    Buongiorno,
    <br>
    <br>
    abbiamo rilevato che ha tentato di identificarsi tramite Fidentity per accedere al portale <a href="https://{{Global.PublicClientUrl}}">recherche.bar.admin.ch</a>. Purtroppo la procedura non è riuscita.
    <br>
    <br>
    Se desidera usufruire di un’altra modalità d’identificazione, La preghiamo di rispondere alla presente mail.
    <br>
    <br>
    Distinti saluti<br>
    <br>
    Dipartimento federale dell’interno DFI  <br>
    Archivio federale svizzero AFS  <br>
    Archivstrasse 24, CH-3003 Berna  <br>
    <br>
    <a href="mailto:benutzer-admin@bar.admin.ch">benutzer-admin@bar.admin.ch</a><br>
    <a href="http://www.bar.admin.ch">www.bar.admin.ch</a><br>

    <br>
    <p>
        Seguite l‘Archivio federale<br />
        <a href='https://twitter.com/ch_bundesarchiv'>Twitter</a>
        –
        <a href='https://www.instagram.com/ch_bundesarchiv/'>Instagram</a>
        –
        <a href='https://www.facebook.com/Bundesarchiv.Schweiz'>Facebook</a>
        –
        <a href='https://www.youtube.com/user/Bundesarchiv'>Youtube</a>
    </p>
    {{/User.IstItalienisch}}

    {{#User.IstEnglisch}}
    Hello,
    <br>
    <br>
    You have attempted to identify yourself via Fidentity for the website <a href="https://{{Global.PublicClientUrl}}">recherche.bar.admin.ch</a>.
    Unfortunately your identification was not successful.
    <br>
    <br>
    If you would like to use another method of identification, please reply to this e-mail.
    <br>
    <br>
    Yours sincerely<br>
    <br>
    Federal Department of Home Affairs FDHA <br>
    Swiss Federal Archives SFA  <br>
    Archivstrasse 24, CH-3003 Bern <br>
    <br>
    <a href="mailto:benutzer-admin@bar.admin.ch">benutzer-admin@bar.admin.ch</a><br>
    <a href="http://www.bar.admin.ch">www.bar.admin.ch</a><br>
    <br>
    <p>
        Follow the Federal Archives:<br />
        <a href='https://twitter.com/ch_bundesarchiv'>Twitter</a>
        –
        <a href='https://www.instagram.com/ch_bundesarchiv/'>Instagram</a>
        –
        <a href='https://www.facebook.com/Bundesarchiv.Schweiz'>Facebook</a>
        –
        <a href='https://www.youtube.com/user/Bundesarchiv'>Youtube</a>
    </p>
    {{/User.IstEnglisch}}

</body>

</html>
