<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Manager.Repository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CMI.Manager.Repository.Properties.Settings>
      <setting name="TempStoragePath" serializeAs="String">
        <value>C:\Temp\Repository</value>
      </setting>
      <!-- In case we don't use sftp normal file copy is done.
           Enter the directory to where the final zip file is copied.
           Setting is ignored, if sftp is used. -->
      <setting name="FileCopyDestinationPath" serializeAs="String">
        <value>C:\Temp\Final</value>
      </setting>
      <!-- Indicates if final zip files are copied using sftp or file copy -->
      <setting name="UseSFTP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SFTPHost" serializeAs="String">
        <value>@@CMI.Manager.Repository.Properties.Settings.SFTPHost@@</value>
      </setting>
      <setting name="SFTPPort" serializeAs="String">
        <value>22</value>
      </setting>
      <!-- Optional setting. Indicates the public key file of the SFTP server. 
           If left blank, connection is made without without keys. -->
      <setting name="SFTPKeyFile" serializeAs="String">
        <value />
      </setting>
      <setting name="SFTPUser" serializeAs="String">
        <value>@@CMI.Manager.Repository.Properties.Settings.SFTPUser@@</value>
      </setting>
      <setting name="SFTPPassword" serializeAs="String">
        <value>@@CMI.Manager.Repository.Properties.Settings.SFTPPassword@@</value>
      </setting>
    </CMI.Manager.Repository.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>