<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Utilities.Bus.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Manager.Order.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Manager.Order.Properties.ElasticConnectionSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Manager.Order.Properties.DbConnectionSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Utilities.ActaPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CMI.Manager.Order.Properties.ElasticConnectionSetting>
      <setting name="ConnectionString" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticUrl@@</value>
      </setting>
      <setting name="ElasticSearchUsername" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticUsername@@</value>
      </setting>
      <setting name="ElasticSearchPWD" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticPWD@@</value>
      </setting>
    </CMI.Manager.Order.Properties.ElasticConnectionSetting>
    <CMI.Utilities.Bus.Configuration.Properties.Settings>
      <setting name="RabbitMqUri" serializeAs="String">
        <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqUri@@</value>
      </setting>
      <setting name="RabbitMqUserName" serializeAs="String">
        <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqUserName@@</value>
      </setting>
      <setting name="RabbitMqPassword" serializeAs="String">
        <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqPassword@@</value>
      </setting>
      <!-- Setting can be ommited or be empty. 
      If empty the response address defaults to the RabbitMqUri
      Only required for RequestResponse calls from BV to SSZ zone-->
      <setting name="RabbitMqUriResponseAddress" serializeAs="String">
        <value />
      </setting>
    </CMI.Utilities.Bus.Configuration.Properties.Settings>
    <CMI.Manager.Order.Properties.Settings>
      <setting name="VecteurSftpRoot" serializeAs="String">
        <value>C:\Vecteur</value>
      </setting>
      <setting name="AssetManagerPickupPath" serializeAs="String">
        <value>C:\Temp\Final</value>
      </setting>
      <setting name="SftpLicenseKey" serializeAs="String">
        <value>@@CMI.Manager.Order.Properties.Settings.SftpLicenseKey@@</value>
      </setting>
    </CMI.Manager.Order.Properties.Settings>
    <CMI.Manager.Order.Properties.DbConnectionSetting>
      <setting name="ConnectionString" serializeAs="String">
        <value>@@CMI.SqlServer.DbConnectionSetting.ConnectionString@@</value>
      </setting>
    </CMI.Manager.Order.Properties.DbConnectionSetting>
    <CMI.Utilities.ActaPro.Properties.Settings>
      <setting name="MappingTableDirectory" serializeAs="String">
        <value>@@CMI.Utilities.ActaPro.Properties.Settings.MappingTableDirectory@@</value>
      </setting>
    </CMI.Utilities.ActaPro.Properties.Settings>
  </applicationSettings>
  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>