<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CMI.Utilities.Transkribus.Properties.TranskribusSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CMI.Utilities.Transkribus.Properties.TranskribusSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <CMI.Utilities.Transkribus.Properties.TranskribusSettings>
            <setting name="TranskribusParameterSettings" serializeAs="String">
                <value>@@CMI.Utilities.Transkribus.Properties.TranskribusParameterSettings@@</value>
            </setting>
            <setting name="TranskribusTimeOut" serializeAs="String">
                <value>@@CMI.Utilities.Transkribus.Properties.TranskribusTimeOut@@</value>
            </setting>
            <setting name="TranskribusSftpPassword" serializeAs="String">
                <value>TW90rP8fVTtpf3Vjxefo</value>
            </setting>
            <setting name="TranskribusSftpHost" serializeAs="String">
                <value />
            </setting>
            <setting name="TranskribusSFTPKeyFile" serializeAs="String">
                <value />
            </setting>
            <setting name="TrankribusSFTPUser" serializeAs="String">
                <value>sftp_htruser</value>
            </setting>
            <setting name="TranskribusSftpPort" serializeAs="String">
                <value />
            </setting>
            <setting name="TranskribusBindPathInput" serializeAs="String">
                <value>@@CMI.Utilities.Transkribus..Properties.TranskribusBindPathInput@@</value>
            </setting>
            <setting name="TranskribusBindPathOutput" serializeAs="String">
                <value>@@CMI.Utilities.Transkribus.Properties.TranskribusBindPathOutput@@</value>
            </setting>
            <setting name="BaseDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="TranskribusClassifierURL" serializeAs="String">
                <value>@@CMI.Utilities.Transkribus.Properties.TranskribusClassifierURL@@</value>
            </setting>
        </CMI.Utilities.Transkribus.Properties.TranskribusSettings>
    </applicationSettings>
    <userSettings>
        <CMI.Utilities.Transkribus.Properties.TranskribusSettings>
            <setting name="TranskribusDecodeURL" serializeAs="String">
                <value>@@CMI.Utilities.Transkribus.Properties.TranskribusDecodeURL@@</value>
            </setting>
        </CMI.Utilities.Transkribus.Properties.TranskribusSettings>
    </userSettings>
</configuration>
