<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MassTransit.Abstractions" version="8.0.16" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="Rebex.Common" version="6.0.8348" targetFramework="net48" />
  <package id="Rebex.Networking" version="6.0.8348" targetFramework="net48" />
  <package id="Rebex.Sftp" version="6.0.8348" targetFramework="net48" />
  <package id="Serilog" version="2.10.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>