{{#Sprachen}}{{#IstDeutsch}}Ihre Bestellung vom {{Auftragsdaten}} {{/IstDeutsch}}{{#IstFranzösisch}}Votre commande du {{Auftragsdaten}} {{/IstFranzösisch}}{{#IstItalienisch}}Ordinazione del {{Auftragsdaten}} {{/IstItalienisch}}{{#IstEnglisch}}Your order of {{Auftragsdaten}} {{/IstEnglisch}}{{/Sprachen}} ✎ 