{{#Sprachen}}{{#IstDeutsch}}Ihre Bestellung vom {{Bestellung.Erfassungsdatum}} {{/IstDeutsch}}{{#IstFranzösisch}}Votre commande du {{Bestellung.Erfassungsdatum}} {{/IstFranzösisch}}{{#IstItalienisch}}Ordinazione del {{Bestellung.Erfassungsdatum}} {{/IstItalienisch}}{{#IstEnglisch}}Your order of {{Bestellung.Erfassungsdatum}} {{/IstEnglisch}}{{/Sprachen}} ✎ 