<html>
<head>
    <style TYPE="text/css">
        html, body {
            font-family: Arial, Helvetica, sans-serif;
            width: 800px;
            font-size: 10pt;
            line-height: 13px;
        }
        table {
            border-collapse: collapse;
        }
        th, td {
            padding-top: 2px;
            padding-left: 0px;
            padding-bottom: 2px;
            padding-right: 20px;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            text-align: left;
            vertical-align: top;
            font-weight: normal;
            line-height: 12px;
        }
    </style>
</head>
<body>
    <p style="color:red">
        Name: {{Besteller.Name}} <br />
        Vorname: {{Besteller.Vorname}} <br />
        E-Mail: {{Besteller.EmailAddress}} <br />
        Aufträge: {{#Aufträge}} <a href="https://{{Global.ManagementClientUrl}}/#/de/auftragsuebersicht/auftraege/{{Id}}">{{Id}}</a> {{/Aufträge}} <br />
        &nbsp;
    </p>
    {{#Sprachen}}
    {{#IstDeutsch}}
    <p style="color:red">
        <b>Bewilligung Auskunftsgesuch ohne Auflagen</b>
    </p>
    <p style="color:red">
        <u>Aktenzeichen</u>
    </p>
    <p>
        <b>Bewilligung Auskunftsgesuch</b>
    </p>
    <p>
        <span style="color:red">Sehr geehrte Frau / Sehr geehrter Herr</span> {{Besteller.Name}}
    </p>
    <p>
        Wir beziehen uns auf Ihr Gesuch vom {{Erfassungsdatum}} betreffend Unterlagen von {{TitelUndSignaturTeilBestand}}.
        Gerne teilen wir Ihnen mit, dass Ihnen die zuständige Verwaltungsstelle mit Schreiben vom <span style="color:red">Datum</span>
        gestützt auf die Bestimmungen von Art. 15 des Bundesgesetzes über die Archivierung (<a href="http://www.admin.ch/ch/d/sr/c152_1.html">BGA</a>, SR 152.1) Einsicht in folgende Unterlagen gewährt:
    </p>
    <p>
        <table>
            <tr>
                <th>Signatur</th>
                <th>Aktenzeichen</th>
                <th>Dossiertitel</th>
                <th>Zeitraum</th>
            </tr>
            {{#Aufträge}}
            <tr>
                <td><a href="https://{{Global.PublicClientUrl}}/#/de/archiv/einheit/{{BestellteVe.Id}}">{{BestellteVe.Signatur}}</a></td>
                <td>{{BestellteVe.Aktenzeichen}}</td>
                <td>{{BestellteVe.Titel}}</td>
                <td>{{BestellteVe.Entstehungszeitraum}}</td>
            </tr>
            {{/Aufträge}}
        </table>
    </p>
    <p>
        Sie können die Unterlagen zur Konsultation in unsere Lesesäle oder online als Digitalisat <a href="https://{{Global.PublicClientUrl}}/#/de/informationen/bestellen-und-konsultieren">bestellen</a>.
    </p>
    <p>
        Mit freundlichen Grüssen
    </p>
    <hr>
    <p style="color:red">
        <b>Eingeschränkte Auskunftsbewilligung</b>
    </p>
    <p style="color:red">
        <u>Aktenzeichen</u>
    </p>
    <p>
        <b>Eingeschränkte Bewilligung Auskunftsgesuch</b>
    </p>
    <p>
        <span style="color:red">Sehr geehrte Frau / Sehr geehrter Herr</span> {{Besteller.Name}}
    </p>
    <p>
        Wir beziehen uns auf Ihr Gesuch vom {{Erfassungsdatum}} betreffend Unterlagen von {{TitelUndSignaturTeilBestand}}. Gerne teilen wir Ihnen mit, dass Ihnen die zuständige Verwaltungsstelle mit Schreiben vom <span style="color:red">Datum</span> gestützt auf die Bestimmungen von Art. 15 des Bundesgesetzes über die Archivierung (<a href="http://www.admin.ch/ch/d/sr/c152_1.html">BGA</a>, SR 152.1) eine eingeschränkte Einsicht in folgende Unterlagen gewährt:
    </p>
    <p>
        <table>
            <tr>
                <th>Signatur</th>
                <th>Aktenzeichen</th>
                <th>Dossiertitel</th>
                <th>Zeitraum</th>
            </tr>
            {{#Aufträge}}
            <tr>
                <td><a href="https://{{Global.PublicClientUrl}}/#/de/archiv/einheit/{{BestellteVe.Id}}">{{BestellteVe.Signatur}}</a></td>
                <td>{{BestellteVe.Aktenzeichen}}</td>
                <td>{{BestellteVe.Titel}}</td>
                <td>{{BestellteVe.Entstehungszeitraum}}</td>
            </tr>
            {{/Aufträge}}
        </table>
    </p>
    <p>
        Die Einschränkung erfolgt gemäss Art. 9 des Bundesgesetzes über den Datenschutz (<a href="http://www.admin.ch/ch/d/sr/c235_1.html">DSG</a>, SR 235.1) und wurde von der zuständigen Stelle folgendermassen begründet:
    </p>
    <p style="color:red">
        [Begründung ist in der Regel wörtlich aus dem Bewilligungsschreiben des Amtes zu zitieren]
    </p>
    <p style="color:red">
        Im Anhang finden Sie die bewilligten Unterlagen / Die bewilligten Unterlagen senden wir Ihnen mit separatem Link zu.
    </p>
    <p>
        Sie haben gemäss Art. 22 der Archivierungsverordnung (<a href="http://www.admin.ch/ch/d/sr/c152_11.html">VBGA</a>, SR 152.11)
        die Möglichkeit, einen Entscheid in Form einer beschwerdefähigen Verfügung zu verlangen. Eine Frist oder Formvorschrift besteht hierfür nicht. Wir bitten Sie
        lediglich um eine kurze E-Mail, die wir an die zuständige Stelle weiterleiten. Bitte beachten Sie, dass die zuständige Stelle Gebühren für das Erstellen einer
        beschwerdefähigen Verfügung verlangen kann.
    </p>
    <p>
        Mit freundlichen Grüssen
    </p>
    <hr>
    <p style="color:red">
        <b>Einsichtsverweigerung (Auskunftsgesuch)</b>
    </p>
    <p style="color:red">
        <u>Aktenzeichen</u>
    </p>
    <p>
        <b>Nichtbewilligung Auskunftsgesuch</b>
    </p>
    <p>
        <span style="color:red">Sehr geehrte Frau / Sehr geehrter Herr</span> {{Besteller.Name}}
    </p>
    <p>
        Wir beziehen uns auf Ihr Gesuch vom {{Erfassungsdatum}} betreffend Unterlagen von {{TitelUndSignaturTeilBestand}}. Wir müssen Ihnen mitteilen, dass die zuständige Verwaltungsstelle Ihrem Gesuch in folgende Unterlagen mit Schreiben vom <span style="color:red">Datum</span> nicht entsprochen hat:
    </p>
    <p>
        <table>
            <tr>
                <th>Signatur</th>
                <th>Aktenzeichen</th>
                <th>Dossiertitel</th>
                <th>Zeitraum</th>
            </tr>
            {{#Aufträge}}
            <tr>
                <td><a href="https://{{Global.PublicClientUrl}}/#/de/archiv/einheit/{{BestellteVe.Id}}">{{BestellteVe.Signatur}}</a></td>
                <td>{{BestellteVe.Aktenzeichen}}</td>
                <td>{{BestellteVe.Titel}}</td>
                <td>{{BestellteVe.Entstehungszeitraum}}</td>
            </tr>
            {{/Aufträge}}
        </table>
    </p>
    <p>
        Die Verweigerung erfolgt gemäss Art. 9 des Bundesgesetzes über den Datenschutz (<a href="http://www.admin.ch/ch/d/sr/c235_1.html">DSG</a>, SR 235.1) und wurde von der zuständigen Stelle folgendermassen begründet:
    </p>
    <p style="color:red">
        [Begründung ist in der Regel wörtlich aus dem Schreiben des Amtes zu zitieren]
    </p>
    <p>
        Sie haben gemäss Art. 22 der Archivierungsverordnung (<a href="http://www.admin.ch/ch/d/sr/c152_11.html">VBGA</a>, SR 152.11) die Möglichkeit, einen Entscheid in Form einer beschwerdefähigen Verfügung zu verlangen. Eine Frist oder Formvorschrift besteht hierfür nicht. Wir bitten Sie lediglich um eine kurze E-Mail, die wir an die zuständige Stelle weiterleiten. Bitte beachten Sie, dass die zuständige Stelle Gebühren für das Erstellen einer beschwerdefähigen Verfügung verlangen kann.
    </p>
    <p>
        Mit freundlichen Grüssen
    </p>
    {{/IstDeutsch}}
    {{#IstFranzösisch}}
    <p style="color:red">
        <b>Bewilligung Auskunftsgesuch ohne Auflagen</b>
    </p>
    <p style="color:red">
        <u>Aktenzeichen</u>
    </p>
    <p>
        <b>Autorisation de la demande de renseignement </b>
    </p>
    <p>
        Bonjour,
    </p>
    <p>
        En référence à votre demande du {{Erfassungsdatum}} relative aux documents du sous-fonds {{TitelUndSignaturTeilBestand}}, nous avons le plaisir de vous informer que le service compétent vous a accordé l’autorisation, en date du <span style="color:red">date</span> de consulter les documents suivants en vertu de l’art. 15 de la loi sur l’archivage (<a href="http://www.admin.ch/ch/f/sr/c152_1.html">LAr</a>, SR 152.1) :
    </p>
    <p>
        <table>
            <tr>
                <th>Cote</th>
                <th>Référence</th>
                <th>Titre du dossier</th>
                <th>Période</th>
            </tr>
            {{#Aufträge}}
            <tr>
                <td><a href="https://{{Global.PublicClientUrl}}/#/fr/archive/unite/{{BestellteVe.Id}}">{{BestellteVe.Signatur}}</a></td>
                <td>{{BestellteVe.Aktenzeichen}}</td>
                <td>{{BestellteVe.Titel}}</td>
                <td>{{BestellteVe.Entstehungszeitraum}}</td>
            </tr>
            {{/Aufträge}}
        </table>
    </p>
    <p>
        Vous pouvez <a href="https://{{Global.PublicClientUrl}}/#/fr/informations/commande-et-consultation
">commander</a>
        ces documents pour les consulter en salle de lecture ou en commander une reproduction numérique.
    </p>
    <p>
        Meilleures salutations,
    </p>
    <hr>
    <p style="color:red">
        <b>Eingeschränkte Auskunftsbewilligung</b>
    </p>
    <p style="color:red">
        <u>Aktenzeichen</u>
    </p>
    <p>
        <b>Autorisation sous restriction de la demande de renseignement </b>
    </p>
    <p>
        Bonjour,
    </p>
    <p>
        En référence à votre demande du {{Erfassungsdatum}} relative aux documents du fonds partiel {{TitelUndSignaturTeilBestand}}, nous avons le plaisir de vous informer que le service compétent vous a accordé l’autorisation sous restriction, en date du <span style="color:red">date</span> de consulter les documents suivants en vertu de l’art. 15 de la loi sur l’archivage (<a href="http://www.admin.ch/ch/f/sr/c152_1.html">LAr</a>, SR 152.1) :
    </p>
    <p>
        <table>
            <tr>
                <th>Cote</th>
                <th>Référence</th>
                <th>Titre du dossier</th>
                <th>Période</th>
            </tr>
            {{#Aufträge}}
            <tr>
                <td><a href="https://{{Global.PublicClientUrl}}/#/fr/archive/unite/{{BestellteVe.Id}}">{{BestellteVe.Signatur}}</a></td>
                <td>{{BestellteVe.Aktenzeichen}}</td>
                <td>{{BestellteVe.Titel}}</td>
                <td>{{BestellteVe.Entstehungszeitraum}}</td>
            </tr>
            {{/Aufträge}}
        </table>
    </p>
    <p>
        La restriction se fonde sur l’art. 9 de la loi fédérale sur la protection des données (<a href="http://www.admin.ch/ch/f/sr/c235_1.html">LPD</a>, RS 235.1) et a été motivée comme suit par le service compétent :
    </p>
    <p style="color:red">
        [En règle générale, on citera mot pour mot les motifs cités par le service compétent dans son courrier d’autorisation.]
    </p>
    <p style="color:red">
        Vous trouverez en annexe les documents dont la consultation a été autorisée. / Vous recevrez par mail séparé un lien vers les documents dont la consultation a été autorisée.
    </p>
    <p>
        Conformément à l’art. 22 de l’ordonnance sur l’archivage (<a href="http://www.admin.ch/ch/f/sr/c152_11.html">OLAr</a>, RS 152.11), vous avez la possibilité de demander que la décision d’autorisation sous restriction vous soit notifiée sous forme de décision susceptible de recours.  Cette démarche n’est soumise à aucun délai ni prescription formelle – il suffit de nous adresser une brève demande par écrit, que nous transmettrons au service compétent. Veuillez noter que la rédaction d’une décision susceptible de recours peut être soumise à émolument.
    </p>
    <p>
        Meilleures salutations,
    </p>
    <hr>
    <p style="color:red">
        <b>Einsichtsverweigerung (Auskunftsgesuch)</b>
    </p>
    <p style="color:red">
        <u>Aktenzeichen</u>
    </p>
    <p>
        <b>Refus de la demande de renseignement </b>
    </p>
    <p>
        Bonjour,
    </p>
    <p>
        En référence à votre demande du {{Erfassungsdatum}} relative aux documents du fonds partiel {{TitelUndSignaturTeilBestand}} nous avons le regret de vous informer que le service compétent vous a refusé l’autorisation, en date du <span style="color:red">date</span>, de consulter les documents suivants :
    </p>
    <p>
        <table>
            <tr>
                <th>Cote</th>
                <th>Référence</th>
                <th>Titre du dossier</th>
                <th>Période</th>
            </tr>
            {{#Aufträge}}
            <tr>
                <td><a href="https://{{Global.PublicClientUrl}}/#/fr/archive/unite/{{BestellteVe.Id}}">{{BestellteVe.Signatur}}</a></td>
                <td>{{BestellteVe.Aktenzeichen}}</td>
                <td>{{BestellteVe.Titel}}</td>
                <td>{{BestellteVe.Entstehungszeitraum}}</td>
            </tr>
            {{/Aufträge}}
        </table>
    </p>
    <p>
        Le refus se fonde sur l’art. 9 de la loi fédérale sur la protection des données (<a href="http://www.admin.ch/ch/f/sr/c235_1.html">LPD</a>, RS 235.1) et a été motivé comme suit par le service compétent :
    </p>
    <p style="color:red">
        [En règle générale, on citera mot pour mot les motifs cités par le service compétent dans son courrier de refus.]
    </p>
    <p>
        Conformément à l’art. 22 de l’ordonnance sur l’archivage (<a href="http://www.admin.ch/ch/f/sr/c152_11.html">OLAr</a>, RS 152.11) vous avez la possibilité de demander que la décision d’autorisation sous restriction vous soit notifiée sous forme de décision susceptible de recours.  Cette démarche n’est soumise à aucun délai ni prescription formelle – il suffit de nous adresser une brève demande par écrit, que nous transmettrons au service compétent. Veuillez noter que la rédaction d’une décision susceptible de recours peut être soumise à émolument.
    </p>
    <p>
        Meilleures salutations,
    </p>
    {{/IstFranzösisch}}
    {{#IstItalienisch}}
    <p style="color:red">
        <b>Bewilligung Auskunftsgesuch ohne Auflagen</b>
    </p>
    <p style="color:red">
        <u>Aktenzeichen</u>
    </p>
    <p>
        <b>Richiesta di informazioni approvata</b>
    </p>
    <p>
        <span style="color:red">Gentile signora / Egregio signor </span> {{Besteller.Name}}
    </p>
    <p>
        in riferimento alla Sua richiesta del {{Erfassungsdatum}} concernente documenti <span style="color:red">del sub-fondo / dei sub-fondi </span> {{TitelUndSignaturTeilBestand}}, La informiamo che il giorno <span style="color:red">data</span> il servizio competente Le ha accordato, in virtù dell’articolo 15 della legge federale sull’archiviazione (<a href="http://www.admin.ch/ch/i/sr/c152_1.html">LAr</a>; RS 152.1), l’autorizzazione a consultare i seguenti documenti:
    </p>
    <p>
        <table>
            <tr>
                <th>Segnatura</th>
                <th>Riferimento</th>
                <th>Titolo del dossier</th>
                <th>Periodo</th>
            </tr>
            {{#Aufträge}}
            <tr>
                <td><a href="https://{{Global.PublicClientUrl}}/#/it/archivio/unita/{{BestellteVe.Id}}">{{BestellteVe.Signatur}}</a></td>
                <td>{{BestellteVe.Aktenzeichen}}</td>
                <td>{{BestellteVe.Titel}}</td>
                <td>{{BestellteVe.Entstehungszeitraum}}</td>
            </tr>
            {{/Aufträge}}
        </table>
    </p>
    <p>
        Può <a href="https://{{Global.PublicClientUrl}}/#/it/informazioni/ordinazione-e-consultazione">ordinare</a> e consultare i documenti nelle sale di lettura oppure on-line in forma digitalizzata.
    </p>
    <p>
        Distinti saluti
    </p>
    <hr>
    <p style="color:red">
        <b>Eingeschränkte Auskunftsbewilligung</b>
    </p>
    <p style="color:red">
        <u>Aktenzeichen</u>
    </p>
    <p>
        <b>Richiesta di informazioni approvata con restrizioni</b>
    </p>
    <p>
        <span style="color:red">Gentile signora / Egregio signor </span> {{Besteller.Name}},
    </p>
    <p>
        in riferimento alla Sua richiesta del {{Erfassungsdatum}} concernente documenti <span style="color:red">del sub-fondo / dei sub-fondi </span> {{TitelUndSignaturTeilBestand}}. La informiamo che il giorno <span style="color:red">data</span> il servizio competente Le ha accordato, in virtù dell’articolo 15 della legge federale sull’archiviazione (<a href="http://www.admin.ch/ch/i/sr/c152_1.html">LAr</a>; RS 152.1), l’autorizzazione a consultare con restrizioni i seguenti documenti:
    </p>
    <p>
        <table>
            <tr>
                <th>Segnatura</th>
                <th>Riferimento</th>
                <th>Titolo del dossier</th>
                <th>Periodo</th>
            </tr>
            {{#Aufträge}}
            <tr>
                <td><a href="https://{{Global.PublicClientUrl}}/#/it/archivio/unita/{{BestellteVe.Id}}">{{BestellteVe.Signatur}}</a></td>
                <td>{{BestellteVe.Aktenzeichen}}</td>
                <td>{{BestellteVe.Titel}}</td>
                <td>{{BestellteVe.Entstehungszeitraum}}</td>
            </tr>
            {{/Aufträge}}
        </table>
    </p>
    <p>
        Le restrizioni si fondano sull’articolo 9 della legge federale sulla protezione dei dati (<a href="http://www.admin.ch/ch/i/sr/c235_1.html">LPD</a>; RS 235.1) e sono state motivate come segue dal servizio competente:
    </p>
    <p style="color:red">
        [Begründung ist in der Regel wörtlich aus dem Bewilligungsschreiben des Amtes zu zitieren]
    </p>
    <p style="color:red">
        I documenti di cui è stata autorizzata la consultazione sono allegati alla presente. / Le invieremo il link ai documenti di cui è stata autorizzata la consultazione in una mail separata.
    </p>
    <p>
        Secondo l’articolo 22 dell’ordinanza sull’archiviazione (<a href="http://www.admin.ch/ch/i/sr/c152_11.html">OLAr</a>; RS 152.11), ha la possibilità di chiedere una decisione impugnabile con ricorso. La richiesta non sottostà a termini o requisiti formali particolari. La preghiamo unicamente di inviarci una breve mail che provvederemo a inoltrare al servizio competente. Le segnaliamo tuttavia che per l’emanazione di una decisione impugnabile può essere riscosso un emolumento.
    </p>
    <p>
        Distinti saluti
    </p>
    <hr>
    <p style="color:red">
        <b>Einsichtsverweigerung (Auskunftsgesuch)</b>
    </p>
    <p style="color:red">
        <u>Aktenzeichen</u>
    </p>
    <p>
        <b>Richiesta di informazioni respinta</b>
    </p>
    <p>
        <span style="color:red">Gentile signora / Egregio signor </span> {{Besteller.Name}}
    </p>
    <p>
        in riferimento alla richiesta del {{Erfassungsdatum}} concernente documenti  <span style="color:red">del sub-fondo / dei sub-fondi </span> {{TitelUndSignaturTeilBestand}}, La informiamo che il giorno <span style="color:red">data</span> il servizio competente non Le ha accordato l’autorizzazione a consultare i seguenti documenti:
    </p>
    <p>
        <table>
            <tr>
                <th>Segnatura</th>
                <th>Riferimento</th>
                <th>Titolo del dossier</th>
                <th>Periodo</th>
            </tr>
            {{#Aufträge}}
            <tr>
                <td><a href="https://{{Global.PublicClientUrl}}/#/it/archivio/unita/{{BestellteVe.Id}}">{{BestellteVe.Signatur}}</a></td>
                <td>{{BestellteVe.Aktenzeichen}}</td>
                <td>{{BestellteVe.Titel}}</td>
                <td>{{BestellteVe.Entstehungszeitraum}}</td>
            </tr>
            {{/Aufträge}}
        </table>
    </p>
    <p>
        Il rigetto si fonda sull’articolo 9 della legge federale sulla protezione dei dati (<a href="http://www.admin.ch/ch/i/sr/c235_1.html">LPD</a>; RS 235.1) ed è stato motivato come segue dal servizio competente:
    </p>
    <p style="color:red">
        [Begründung ist in der Regel wörtlich aus dem Schreiben des Amtes zu zitieren]
    </p>
    <p>
        Secondo l’articolo 22 dell’ordinanza sull’archiviazione (<a href="http://www.admin.ch/ch/i/sr/c152_11.html">OLAr</a>; RS 152.11), ha la possibilità di chiedere una decisione impugnabile con ricorso. La richiesta non sottostà a termini o requisiti formali particolari. La preghiamo unicamente di inviarci una breve e-mail che provvederemo a inoltrare al servizio competente. Le segnaliamo tuttavia che per l’emanazione di una decisione impugnabile può essere riscosso un emolumento.
    </p>
    <p>
        Distinti saluti
    </p>
    {{/IstItalienisch}}
    {{#IstEnglisch}}
    <p style="color:red">
        <b>Bewilligung Auskunftsgesuch ohne Auflagen</b>
    </p>
    <p style="color:red">
        <u>Aktenzeichen</u>
    </p>
    <p>
        <b>Authorisation to receive information</b>
    </p>
    <p>
        <span style="color:red">Dear Ms / Dear Mr </span> {{Besteller.Name}}
    </p>
    <p>
        We refer to your request dated {{Erfassungsdatum}} relating to documents from {{TitelUndSignaturTeilBestand}}. We are pleased to inform you that, based on the provisions of Art. 15 of the Federal Act on Archiving (<a href="https://www.admin.ch/ch/e/rs/c152_1.html">ArchA</a>, SR 152.1) the administrative office responsible has, in its communication dated <span style="color:red">date</span>, authorised you to consult the following documents:
    </p>
    <p>
        <table>
            <tr>
                <th>Reference code</th>
                <th>File reference</th>
                <th>Dossier title</th>
                <th>Time period</th>
            </tr>
            {{#Aufträge}}
            <tr>
                <td><a href="https://{{Global.PublicClientUrl}}/#/en/archive/unit/{{BestellteVe.Id}}">{{BestellteVe.Signatur}}</a></td>
                <td>{{BestellteVe.Aktenzeichen}}</td>
                <td>{{BestellteVe.Titel}}</td>
                <td>{{BestellteVe.Entstehungszeitraum}}</td>
            </tr>
            {{/Aufträge}}
        </table>
    </p>
    <p>
        You can <a href="https://{{Global.PublicClientUrl}}/#/en/information/ordering-and-consulting">order</a> the documents for consultation in our reading rooms or online in digital form.
    </p>
    <p>
        Yours sincerely
    </p>
    <hr>
    <p style="color:red">
        <b>Eingeschränkte Auskunftsbewilligung</b>
    </p>
    <p style="color:red">
        <u>Aktenzeichen</u>
    </p>
    <p>
        <b>Restricted authorisation to receive information </b>
    </p>
    <p>
        <span style="color:red">Dear Ms / Dear Mr </span> {{Besteller.Name}}
    </p>
    <p>
        We refer to your request dated {{Erfassungsdatum}} relating to documents from {{TitelUndSignaturTeilBestand}}.
        We are pleased to inform you that, based on the provisions of Art. 15 of the Federal Act on Archiving
        (<a href="https://www.admin.ch/ch/e/rs/c152_1.html">BGA</a>, SR 152.1), the administrative office responsible has, in its communication dated <span style="color:red">date</span>, authorised you to consult the following documents subject to restrictions:
    </p>
    <p>
        <table>
            <tr>
                <th>Reference code</th>
                <th>File reference</th>
                <th>Dossier title</th>
                <th>Time period</th>
            </tr>
            {{#Aufträge}}
            <tr>
                <td><a href="https://{{Global.PublicClientUrl}}/#/en/archive/unit/{{BestellteVe.Id}}">{{BestellteVe.Signatur}}</a></td>
                <td>{{BestellteVe.Aktenzeichen}}</td>
                <td>{{BestellteVe.Titel}}</td>
                <td>{{BestellteVe.Entstehungszeitraum}}</td>
            </tr>
            {{/Aufträge}}
        </table>
    </p>
    <p>
        The restriction has been imposed under the terms of Art. 9 of the Federal Act on Data Protection
        (<a href="http://www.admin.ch/ch/e/rs/c235_1.html">FADP</a>, SR 235.1) and has been justified by the office responsible on the following grounds:
    </p>
    <p style="color:red">
        [Begründung ist in der Regel wörtlich aus dem Bewilligungsschreiben des Amtes zu zitieren]
    </p>
    <p style="color:red">
        The documents for which authorisation has been granted are attached. / We will send you the documents for which authorisation has been granted via a separate link.
    </p>
    <p>
        Under Art. 22 of the Archiving Ordinance (<a href="http://www.admin.ch/ch/e/rs/c152_11.html">ArchO</a>, SR 152.11)
        you have the option to request a decision in the form of an appealable ruling. There is no deadline for doing so and no formal requirements apply. We would simply ask you to send us a short e-mail which we will forward to the office responsible. Please note that the office responsible may charge a fee for issuing an appealable ruling.
    </p>
    <p>
        Yours sincerely
    </p>
    <hr>
    <p style="color:red">
        <b>Einsichtsverweigerung (Auskunftsgesuch)</b>
    </p>
    <p style="color:red">
        <u>Aktenzeichen</u>
    </p>
    <p>
        <b>Information request declined</b>
    </p>
    <p>
        <span style="color:red">Dear Ms / Dear Mr </span> {{Besteller.Name}}
    </p>
    <p>
        We refer to your request dated {{Erfassungsdatum}} relating to documents from {{TitelUndSignaturTeilBestand}}. We regret to inform you that the administrative office responsible has, in its communication dated <span style="color:red">date</span>, indicated that is unable to authorise you to consult the following documents:
    </p>
    <p>
        <table>
            <tr>
                <th>Reference code</th>
                <th>File reference</th>
                <th>Dossier title</th>
                <th>Time period</th>
            </tr>
            {{#Aufträge}}
            <tr>
                <td><a href="https://{{Global.PublicClientUrl}}/#/en/archive/unit/{{BestellteVe.Id}}">{{BestellteVe.Signatur}}</a></td>
                <td>{{BestellteVe.Aktenzeichen}}</td>
                <td>{{BestellteVe.Titel}}</td>
                <td>{{BestellteVe.Entstehungszeitraum}}</td>
            </tr>
            {{/Aufträge}}
        </table>
    </p>
    <p>
        Authorisation has been refused under the terms of Art. 9 of the Federal Act on Data Protection (<a href="http://www.admin.ch/ch/e/rs/c235_1.html">FADP</a>, SR 235.1) and has been justified by the office responsible on the following grounds:
    </p>
    <p style="color:red">
        [Begründung ist in der Regel wörtlich aus dem Schreiben des Amtes zu zitieren]
    </p>
    <p>
        Under Art. 22 of the Archiving Ordinance (<a href="http://www.admin.ch/ch/e/rs/c152_11.html">ArchO</a>, SR 152.11)
        you have the option to request a decision in the form of an appealable ruling. There is no deadline for doing so and no formal requirements apply. We would simply ask you to send us a short e-mail which we will forward to the office responsible. Please note that the office responsible may charge a fee for issuing an appealable ruling
    </p>
    <p>
        Yours sincerely
    </p>
    {{/IstEnglisch}}
    {{/Sprachen}}
</body>
</html>