<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Tools.ElasticTreeSequenceUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Access.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CMI.Tools.ElasticTreeSequenceUpdater.Properties.Settings>
      <setting name="BulkBatchSize" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="SQLiteDbPath" serializeAs="String">
        <value>C:\Temp\TreeSequenceUpdates.db</value>
      </setting>
      <setting name="LogFilePath" serializeAs="String">
        <value>C:\Temp\Logs\treeSequenceUpdater.log</value>
      </setting>
      <setting name="ElasticSearchUsername" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticUsername@@</value>
      </setting>
      <setting name="ElasticSearchPWD" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticPWD@@</value>
      </setting>
      <setting name="ElasticSearchUrl" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticUrl@@</value>
      </setting>
    </CMI.Tools.ElasticTreeSequenceUpdater.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.11.2622" newVersion="2.1.11.2622" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>