<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Tools.ElasticTreeSequenceUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Access.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CMI.Tools.ElasticTreeSequenceUpdater.Properties.Settings>
      <setting name="BulkBatchSize" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="SQLiteDbPath" serializeAs="String">
        <value>C:\Temp\TreeSequenceUpdates.db</value>
      </setting>
      <setting name="LogFilePath" serializeAs="String">
        <value>C:\Temp\Logs\treeSequenceUpdater.log</value>
      </setting>
      <setting name="ElasticSearchUsername" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticUsername@@</value>
      </setting>
      <setting name="ElasticSearchPWD" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticPWD@@</value>
      </setting>
      <setting name="ElasticSearchUrl" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticUrl@@</value>
      </setting>
    </CMI.Tools.ElasticTreeSequenceUpdater.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>