@if (rows) {
  <div class="detail-section">
    @for (row of rows; track row) {
      <div class="row">
        <div class="col col-xs-3" [ngClass]="{ 'external': row.visibility === 0, 'internal text-danger': row.visibility === 1}">
          <label>
            @if (row.isAnonymized) {
              <span class="label-anonymized" >{{row.label}} {{'detailSection.anonymisiert'|translate}}</span>
            }
            @if (!row.isAnonymized) {
              <span [innerHTML]="row.label"></span>
            }
            @if (row.visibility === 1) {
              <span>&nbsp;
                <span class="glyphicon glyphicon-lock"  tooltip="{{'Feld nur für BAR Benutzer sichtbar' | translate:'detailSection.internalField'}}" aria-hidden="true"></span>
                <span class="sr-only">{{ 'Feld nur für BAR Benutzer sichtbar' | translate:'detailSection.internalField'}}</span>
              </span>
            }
          </label>
        </div>
        <div class="col col-xs-9">
          @if (row.markup) {
            <div>
              @if (row.markup.indexOf('cmi-viaduc-detail-images') > 0) {
                <cmi-viaduc-detail-images [images]="row.data.images"></cmi-viaduc-detail-images>
              }
            </div>
          }
          @if (row.html) {
            <span [innerHTML]="row.html"></span>
          }
          @if (row.text) {
            <span [innerHTML]="row.text|anonymizedHtml"></span>
          }
        </div>
      </div>
    }
  </div>
}
