<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Tools.AnonymizeServiceMock.Properties.AnonymizeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <applicationSettings>
    <CMI.Tools.AnonymizeServiceMock.Properties.AnonymizeSettings>
      <setting name="Address" serializeAs="String">
        <value>http://localhost:21382/</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value>@@CMI.Tools.AnonymizeServiceMock.Properties.AnonymizeSettings.ApiKey@@</value>
      </setting>
    </CMI.Tools.AnonymizeServiceMock.Properties.AnonymizeSettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>