<cmi-viaduc-modal [(opened)]="open" [modalTitle]="'Barcodes einlesen'">
	<cmi-viaduc-modal-body>
		<form class="form-horizontal" #form="ngForm">
			<fieldset>
				<div class="form-group">
					<label for="barcodes" class="col-sm-4 control-label">Barcodes
					</label>
					<div class="col-sm-8">
						<textarea (keyup)="expandTextarea($event)" [required]="true" autofocus rows="4" class="form-control" name="barcodes" id="barcodes" [(ngModel)]="barcodes">
						</textarea>
					</div>
				</div>
			</fieldset>
		</form>
	</cmi-viaduc-modal-body>
	<cmi-viaduc-modal-footer>
		<button class="btn btn-default" (click)="cancel()">Abbrechen</button>
		<button class="btn btn-primary" [disabled]="!form.valid" (click)="ok()">Bestätigen</button>
	</cmi-viaduc-modal-footer>
</cmi-viaduc-modal>
