<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CMI.Manager.Asset.Properties.ViewerFileLocation" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="CMI.Manager.Asset.Properties.IiifManifest" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="CMI.Manager.Asset.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="CMI.Manager.Asset.Properties.DbConnectionSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<CMI.Manager.Asset.Properties.ViewerFileLocation>
			<setting name="ManifestOutputSaveDirectory" serializeAs="String">
				<value>@@CMI.Manager.Asset.Properties.ViewerFileLocation.ManifestOutputSaveDirectory@@</value>
			</setting>
			<setting name="ContentOutputSaveDirectory" serializeAs="String">
				<value>@@CMI.Manager.Asset.Properties.ViewerFileLocation.ContentOutputSaveDirectory@@</value>
			</setting>
			<setting name="OcrOutputSaveDirectory" serializeAs="String">
				<value>@@CMI.Manager.Asset.Properties.ViewerFileLocation.OcrOutputSaveDirectory@@</value>
			</setting>
			<setting name="ImageOutputSaveDirectory" serializeAs="String">
				<value>@@CMI.Manager.Asset.Properties.ViewerFileLocation.ImageOutputSaveDirectory@@</value>
			</setting>
		</CMI.Manager.Asset.Properties.ViewerFileLocation>
		<CMI.Manager.Asset.Properties.IiifManifest>
			<setting name="ApiServerUri" serializeAs="String">
				<value>https://viaducdev.cmiag.ch/clientdev/iiif/</value>
			</setting>
			<setting name="ImageServerUri" serializeAs="String">
				<value>https://viaducdev.cmiag.ch/image/</value>
			</setting>
			<setting name="PublicManifestWebUri" serializeAs="String">
				<value>https://viaducdev.cmiag.ch/clientdev/files/manifests/</value>
			</setting>
			<setting name="PublicDetailRecordUri" serializeAs="String">
				<value>https://viaducdev.cmiag.ch/clientdev/</value>
			</setting>
			<setting name="PublicOcrWebUri" serializeAs="String">
				<value>https://viaducdev.cmiag.ch/clientdev/files/ocr/</value>
			</setting>
			<setting name="PublicContentWebUri" serializeAs="String">
				<value>https://viaducdev.cmiag.ch/clientdev/files/content/</value>
			</setting>
		</CMI.Manager.Asset.Properties.IiifManifest>
		<CMI.Manager.Asset.Properties.Settings>
			<setting name="PickupPath" serializeAs="String">
				<value>C:\Temp\Final</value>
			</setting>
			<setting name="PasswordSeed" serializeAs="String">
				<value>@@CMI.Manager.Asset.Properties.Settings.PasswordSeed@@</value>
			</setting>
			<setting name="SftpLicenseKey" serializeAs="String">
				<value>@@CMI.Manager.Asset.Properties.Settings.SftpLicenseKey@@</value>
			</setting>
			<setting name="TextExtractParallelism" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="DocumentTransformParallelism" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="SolrUrl" serializeAs="String">
				<value>@@CMI.Manager.Asset.Properties.Settings.SolrUrl@@</value>
			</setting>
			<setting name="hOcrCopyDestinationPath" serializeAs="String">
				<value>@@CMI.Manager.Asset.Properties.Settings.hOcrCopyDestinationPath@@</value>
			</setting>
			<setting name="SolrCoreName" serializeAs="String">
				<value>@@CMI.Manager.Asset.Properties.Settings.SolrCoreName@@</value>
			</setting>
			<setting name="IgnoreAccessTokensForManifestCheck" serializeAs="String">
				<value>False</value>
			</setting>
		</CMI.Manager.Asset.Properties.Settings>
		<CMI.Manager.Asset.Properties.DbConnectionSetting>
			<setting name="ConnectionString" serializeAs="String">
				<value>@@CMI.SqlServer.DbConnectionSetting.ConnectionString@@</value>
			</setting>
		</CMI.Manager.Asset.Properties.DbConnectionSetting>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.3" newVersion="6.0.0.3" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.11.0" newVersion="6.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Diagnostics.HealthChecks" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.11.0" newVersion="6.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
