<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Manager.Onboarding.Properties.OnboardingSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Manager.Onboarding.Properties.Setting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Manager.Onboarding.Properties.DbConnectionSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CMI.Manager.Onboarding.Properties.OnboardingSetting>
      <setting name="PostbackBaseUrl" serializeAs="String">
        <value>http://localhost:12972</value>
      </setting>
      <setting name="ConnectorClientId" serializeAs="String">
        <value>@@ConnectorClientId@@</value>
      </setting>
      <setting name="ConnectorClientSecret" serializeAs="String">
        <value>@@ConnectorClientSecret@@</value>
      </setting>
      <setting name="ConnectorTokenExpiration" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ConnectorBaseUrl" serializeAs="String">
        <value>@@ConnectorBaseUrl@@</value>
      </setting>
      <setting name="TimerProcessDueTime" serializeAs="String">
        <value>1800000</value>
      </setting>
      <setting name="OnboardingCallbackSuccessUrl" serializeAs="String">
        <value>@@OnboardingCallbackSuccess@@</value>
      </setting>
      <setting name="OnboardingCallbackWarnUrl" serializeAs="String">
        <value>@@OnboardingCallbackWarn@@</value>
      </setting>
      <setting name="OnboardingCallbackErrorUrl" serializeAs="String">
        <value>@@OnboardingCallbackError@@</value>
      </setting>
      <setting name="OnboardingCallbackReviewUrl" serializeAs="String">
        <value>@@OnboardingCallbackReview@@</value>
      </setting>
    </CMI.Manager.Onboarding.Properties.OnboardingSetting>
    <CMI.Manager.Onboarding.Properties.DbConnectionSetting>
      <setting name="ConnectionString" serializeAs="String">
        <value>@@CMI.SqlServer.DbConnectionSetting.ConnectionString@@</value>
      </setting>
    </CMI.Manager.Onboarding.Properties.DbConnectionSetting>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>