<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Manager.Parameter.Properties.WaitTimeSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CMI.Manager.Parameter.Properties.WaitTimeSetting>
      <setting name="MillisekundenInitial" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="MillisekundenFirstAPICall" serializeAs="String">
        <value>6000</value>
      </setting>
    </CMI.Manager.Parameter.Properties.WaitTimeSetting>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>