<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Access.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Utilities.Bus.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Manager.Viaduc.Properties.DbConnectionSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Utilities.ActaPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <CMI.Access.Common.Properties.Settings>
      <setting name="ElasticSearchUrl" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticUrl@@</value>
      </setting>
      <setting name="ElasticSearchUsername" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticUsername@@</value>
      </setting>
      <setting name="ElasticSearchPWD" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticPWD@@</value>
      </setting>
    </CMI.Access.Common.Properties.Settings>
    <CMI.Utilities.Bus.Configuration.Properties.Settings>
      <setting name="RabbitMqUri" serializeAs="String">
        <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqUri@@</value>
      </setting>
      <setting name="RabbitMqUserName" serializeAs="String">
        <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqUserName@@</value>
      </setting>
      <setting name="RabbitMqPassword" serializeAs="String">
        <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqPassword@@</value>
      </setting>
      <!-- Setting can be ommited or be empty. 
      If empty the response address defaults to the RabbitMqUri
      Only required for RequestResponse calls from BV to SSZ zone-->
      <setting name="RabbitMqUriResponseAddress" serializeAs="String">
        <value />
      </setting>
    </CMI.Utilities.Bus.Configuration.Properties.Settings>
    <CMI.Manager.Viaduc.Properties.DbConnectionSetting>
      <setting name="ConnectionString" serializeAs="String">
        <value>@@CMI.SqlServer.DbConnectionSetting.ConnectionString@@</value>
      </setting>
      <setting name="ConnectionStringEF" serializeAs="String">
        <value>metadata=res://*/CMI.Access.Sql.Viaduc.EF.Viaduc.csdl|res://*/CMI.Access.Sql.Viaduc.EF.Viaduc.ssdl|res://*/CMI.Access.Sql.Viaduc.EF.Viaduc.msl;provider=System.Data.SqlClient;provider connection string='@@CMI.SqlServer.DbConnectionSetting.ConnectionStringEF@@';</value>
      </setting>
    </CMI.Manager.Viaduc.Properties.DbConnectionSetting>
    <CMI.Utilities.ActaPro.Properties.Settings>
      <setting name="MappingTableDirectory" serializeAs="String">
        <value>@@CMI.Utilities.ActaPro.Properties.Settings.MappingTableDirectory@@</value>
      </setting>
    </CMI.Utilities.ActaPro.Properties.Settings>
  </applicationSettings>
  <appSettings>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>