<div class="row">
  <div class="page page-auth-success col-sm-12 text-center">
    @if (success === true) {
      <h1>{{ 'Anmeldung erfolgreich' | translate:'account.logInSuccessfulWait' }}</h1>
    }
    @if (success === false) {
      <h1>{{ 'Anmeldung fehlgeschlagen' | translate:'account.loginFailureOrAborted' }}</h1>
    }

    <div>
      <b>Automatische Weiterleitung...</b>
      <cmi-spinner></cmi-spinner>
      <br>
      </div>

      @if (success === true) {
        <div class="alert alert-success" role="alert">
          <p>Sie werden automatisch weitergeleitet. Sollten Sie nicht automatisch weitergeleitet werden, klicken Sie bitte auf den nachfolgenden Link.</p>
          <a (click)="redirectToOriginBeforeLogin();"><span>{{ 'Jetzt weiterleiten' | translate:'account.redirectNow' }}</span></a>
        </div>
      }

      @if (success === false) {
        <div class="alert alert-danger" role="alert">
          <b>Fehler bei der Anmeldung</b>
          <br/>
          <br/>
          <p>Bei der Anmeldung gab es ein Problem. Bitte versuchen Sie es später erneut oder melden Sie sich beim zuständigen Personal.</p>
          <a (click)="redirectToOriginBeforeLogin();"><span>{{ 'Erneut probieren' | translate:'account.retry' }}</span></a>
        </div>
      }

    </div>
  </div>

