<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.304.18" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.7.309.6" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.46" targetFramework="net48" />
  <package id="Nerdbank.GitVersioning" version="3.4.255" targetFramework="net48" developmentDependency="true" />
  <package id="Serilog" version="2.10.0" targetFramework="net48" />
</packages>