<div class="page col-sm-12">
  @if (crumbsLoaded) {
    <div class="page-breadcrumb">
      <cmi-viaduc-breadcrumb [items]="crumbs"></cmi-viaduc-breadcrumb>
    </div>
  }
  <div>
    @if (!error) {
      <h1>{{'Archivplan'|translate:'archivplan.archivplan'}}</h1>
    }
    @if (!init) {
      <div >
        <div class="archivplan-container" >
          <ul>
            <cmi-viaduc-tree-node (loadingChange)="handleLoadChange($event)" [nodesToLoad]="nodesToOpen"></cmi-viaduc-tree-node>
          </ul>
        </div>
      </div>
    }
    @if (loading) {
      <div>
        <cmi-blocker class="cmi-visible cmi-fixed cmi-center cmi-shadow">
          <cmi-spinner></cmi-spinner>
        </cmi-blocker>
      </div>
    }
    @if (error) {
      <div class="search-warning alert alert-danger">
        <h2 class="sr-only">{{'Information' | translate: 'archivplan.information'}}</h2>
        <h3>{{getErrorTitel()}}</h3><br/>
        <span [innerHtml]="getErrorMessage()"></span>
      </div>
    }
  </div>
</div>
