<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Manager.Order.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Manager.Order.Properties.ElasticConnectionSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Manager.Order.Properties.DbConnectionSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CMI.Manager.Order.Properties.Settings>
      <setting name="VecteurSftpRoot" serializeAs="String">
        <value>C:\Vecteur</value>
      </setting>
      <setting name="AssetManagerPickupPath" serializeAs="String">
        <value>C:\Temp\Final</value>
      </setting>
      <setting name="SftpLicenseKey" serializeAs="String">
        <value>@@CMI.Manager.Order.Properties.Settings.SftpLicenseKey@@</value>
      </setting>
    </CMI.Manager.Order.Properties.Settings>
    <CMI.Manager.Order.Properties.ElasticConnectionSetting>
      <setting name="ConnectionString" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticUrl@@</value>
      </setting>
      <setting name="ElasticSearchUsername" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticUsername@@</value>
      </setting>
      <setting name="ElasticSearchPWD" serializeAs="String">
        <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticPWD@@</value>
      </setting>
    </CMI.Manager.Order.Properties.ElasticConnectionSetting>
    <CMI.Manager.Order.Properties.DbConnectionSetting>
      <setting name="ConnectionString" serializeAs="String">
        <value>@@CMI.SqlServer.DbConnectionSetting.ConnectionString@@</value>
      </setting>
    </CMI.Manager.Order.Properties.DbConnectionSetting>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>