<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Manager.Notification.Properties.NotificationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CMI.Manager.Notification.Properties.NotificationSettings>
      <setting name="Port" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="Host" serializeAs="String">
        <value>smtp.sparkpostmail.com</value>
      </setting>
      <setting name="DefaultFromAddress" serializeAs="String">
        <value>do-not-reply@viaduc.evelix.ch</value>
      </setting>
      <setting name="StartupTestTo" serializeAs="String">
        <value />
      </setting>
      <setting name="StartupTestBody" serializeAs="String">
        <value>Test Body</value>
      </setting>
      <setting name="StartupTestSubject" serializeAs="String">
        <value>Test subject</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>@@CMI.Manager.Notification.Properties.NotificationSettings.UserName@@</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>@@CMI.Manager.Notification.Properties.NotificationSettings.Password@@</value>
      </setting>
    </CMI.Manager.Notification.Properties.NotificationSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>