<div class="row">
  @if (hasAccess === true) {
    <div>
      <div class="col-md-3">
        <dl>
          <dt>Metadata</dt>
          @for (metadata of this.permission?.metadataAccessToken; track metadata) {
            <dd>
              {{metadata}}
            </dd>
          }
        </dl>
      </div>
      <div class="col-md-3">
        <dl>
          <dt>PrimaryDataFulltext</dt>
          @for (metadata of this.permission?.primaryDataFulltextAccessTokens; track metadata) {
            <dd>
              {{metadata}}
            </dd>
          }
        </dl>
      </div>
      <div class="col-md-3">
        <dl>
          <dt>PrimaryDataDownload</dt>
          @for (metadata of this.permission?.primaryDataDownloadAccessTokens; track metadata) {
            <dd>
              {{metadata}}
            </dd>
          }
        </dl>
      </div>
      <div class="col-md-3">
        <dl>
          <dt>Field</dt>
          @for (metadata of this.permission?.fieldAccessTokens; track metadata) {
            <dd>
              {{metadata}}
            </dd>
          }
        </dl>
      </div>
    </div>
  }
</div>
