<CMI.Utilities.Cache.Access.Properties.Settings>
  <setting name="CacheUri" serializeAs="String">
    <value>http://azeviaduc01:9000/</value>
  </setting>
  <setting name="CacheDownloadLinkTemplate" serializeAs="String">
    <value>http://azeviaduc01:9000/{0}/{1}</value>
  </setting>
</CMI.Utilities.Cache.Access.Properties.Settings>