<CMI.Engine.MailTemplate.Properties.Settings>
  <setting name="PublicClientUrl" serializeAs="String">
    <value>@@CMI.Engine.MailTemplate.Properties.Settings.PublicClientUrl@@</value>
  </setting>
  <setting name="ManagementClientUrl" serializeAs="String">
    <value>@@CMI.Engine.MailTemplate.Properties.Settings.ManagementClientUrl@@</value>
  </setting>
</CMI.Engine.MailTemplate.Properties.Settings>
