<CMI.Utilities.Bus.Configuration.Properties.Settings>
  <setting name="RabbitMqUri" serializeAs="String">
    <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqUri@@</value>
  </setting>
  <setting name="RabbitMqUserName" serializeAs="String">
    <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqUserName@@</value>
  </setting>
  <setting name="RabbitMqPassword" serializeAs="String">
    <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqPassword@@</value>
  </setting>
</CMI.Utilities.Bus.Configuration.Properties.Settings>