<appSettings>
  <!-- additional appSettings - will be merged with web.config appSettings -->
  
  <!--Logging specific settings-->
  <add key="serilog:write-to:File.path" value="C:\Logs\Viaduc.Frontend\log-.log" />
  <add key="serilog:minimum-level" value="Debug" />
  <add key="serilog:using:File" value="Serilog.Sinks.File" />
  <add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
  <add key="serilog:write-to:File.rollingInterval" value="Day" />
  <add key="serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level}] {Message}{NewLine}{Exception}{Properties:j}{NewLine}"/>
</appSettings>
