<appSettings>
  <!-- additional appSettings - will be merged with web.config appSettings -->
  
  <!--Logging specific settings-->
  <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\Viaduc.Frontend\log-{Date}.log" />
  <add key="serilog:minimum-level" value="Debug" />
  <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
  <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
  <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level}] {Message}{NewLine}{Exception}{Properties:j}{NewLine}"/>
</appSettings>
