<sustainsys.saml2 entityId="@@CMI.Web.Frontend.AppData_Template.IdpMetadata.Url@@/Metadata" 
				  returnUrl="@@CMI.Web.Frontend.AppData_Template.PublicClientUrl@@/#/auth/success" 
				  modulePath="/AuthServices" 
				  minIncomingSigningAlgorithm="SHA1"
				  outboundSigningAlgorithm="SHA1">
	<identityProviders>
		<add entityId="@@CMI.Web.Frontend.AppData_Template.IdpMetadata.Url@@/Metadata"
		     loadMetadata="true"
		     metadataLocation="@@CMI.Web.Frontend.AppData_Template.IdpMetadata.Location@@"
		     allowUnsolicitedAuthnResponse="false"
		     disableOutboundLogoutRequests="true"
		     logoutUrl="@@CMI.Web.Frontend.AppData_Template.PublicClientUrl@@/logout" />
	</identityProviders>
	<serviceCertificates>
		<add storeName="My" 
			 storeLocation="LocalMachine" 
			 x509FindType="FindBySerialNumber" 
			 findValue="cdf7090a433561a843b51198b0ba61ac" 
			 use="Signing" 
			 status="Current" />
	</serviceCertificates>
	<requestedAuthnContext classRef="PasswordProtectedTransport">
	</requestedAuthnContext>
</sustainsys.saml2>