<cmiSettings>
  <add key="sqlConnectionString" value="Data Source=localhost;Initial Catalog=Viaduc;@@cmiSettings.sqlConnectionString_Credentials@@;Pooling=true" />
  <add key="sftpLicenseKey" value="@@cmiSettings.sftpLicenseKey@@" />
  
  <add key="clientDefaultPath" value="/client/" />
  <add key="indexPagePath" value="~/client/index.html" />
  <add key="staticDefaultPath" value="/content/" />
  <add key="staticPagePath" value="~/content/" />
  <add key="configDirectory" value="~/App_Data" />
  <add key="clientConfigDirectory" value="~/client/config" />

  <add key="injectTranslations" value="true" />
  <add key="injectSettings" value="false" />
  <add key="injectModelData" value="false" />
  
  <add key="enableIndexPageCaching" value="false" />
  <add key="enableStaticPagesCaching" value="false" />  
  <add key="enableTranslationsCaching" value="false" />
  <add key="enableSettingsCaching" value="false" />
  <add key="enableModelDataCaching" value="false" />
    
  <add key="tokenExpiryInMinutes" value="720" />
  <add key="supportedLanguagesForChatBot" value="de" />
  <add key="urlForChatBot" value="https://chatbot.bar.smartive.cloud/" />

  <add key="swaggerBaseUrl" value="https://@@CMI.Engine.MailTemplate.Properties.Settings.PublicClientUrl@@" />

  <add key="matomo-url" value="//www.sfa-laboratory.ch/statistiques/" />
  <add key="matomo-siteId" value="4" />

  <add key="synonymMaxInputWords" value="15" />
  
  <!--Gültigkeit des Tokens (Wert bestimmt, nach welcher Zeit das Token nicht mehr gültig ist in Minuten)-->
  <add key="tokenValidTime" value="10" />

  <add key="loginMandantErstellenUrl" value="https://www.recherche.bar.admin.ch/recherche/private" />
  <add key="erneutAnmeldenlogin" value="http://@@CMI.Engine.MailTemplate.Properties.Settings.PublicClientUrl@@/#/de/suche/einfach" />
  <add key="oeDreiKeineMobilenummerErfasst" value="www.recherche.bar.admin.ch/_pep/myaccount?returnURI=/my-appl/private/welcome.html&amp;op=reg-mobile" />
  
</cmiSettings>
