<cmiSettings>
  <add key="sqlConnectionString" value="@@CMI.SqlServer.DbConnectionSetting.ConnectionString@@" />
  
  <add key="sftpLicenseKey" value="@@cmiSettings.sftpLicenseKey@@" />
  
  <add key="clientDefaultPath" value="/client/" />
  <add key="indexPagePath" value="~/client/index.html" />
  <add key="staticDefaultPath" value="/content/" />
  <add key="staticPagePath" value="~/content/" />
  <add key="configDirectory" value="~/App_Data" />
  <add key="clientConfigDirectory" value="~/client/config" />

  <add key="injectTranslations" value="true" />
  <add key="injectSettings" value="false" />
  <add key="injectModelData" value="false" />
  
  <add key="enableIndexPageCaching" value="false" />
  <add key="enableStaticPagesCaching" value="false" />  
  <add key="enableTranslationsCaching" value="false" />
  <add key="enableSettingsCaching" value="false" />
  <add key="enableModelDataCaching" value="false" />

  <add key="supportedLanguagesForChatBot" value="de" />
  <add key="urlForChatBot" value="https://chatbot.bar.smartive.cloud/" />

  <add key="swaggerBaseUrl" value="@@CMI.Engine.MailTemplate.Properties.Settings.PublicClientUrl@@" />

  <add key="matomo-url" value="https://track.zem.ch" />
  <add key="matomo-siteId" value="12" />

  <add key="synonymMaxInputWords" value="15" />

  <add key="frontendAuthReturnUrl" value="@@CMI.Engine.MailTemplate.Properties.Settings.PublicClientUrl@@/#/auth/success" />
  <add key="frontendLogoutReturnUrl" value="@@CMI.Engine.MailTemplate.Properties.Settings.PublicClientUrl@@"/>

  <add key="loginMandantErstellenUrl" value="https://www.recherche.bar.admin.ch/recherche/private" />
  <add key="publicClientUrl" value="@@CMI.Engine.MailTemplate.Properties.Settings.PublicClientUrl@@/" />

  <add key="oeDreiKeineMobilenummerErfasst" value="www.recherche.bar.admin.ch/_pep/myaccount?returnURI=/my-appl/private/welcome.html&amp;op=reg-mobile" />
  <add key="cookieExpireTimeInMinutes" value="60" />
  <add key="viewer-url" value="https://viaducdev.cmiag.ch/viewer/?manifest=https://viaducdev.cmiag.ch/clientdev/files/manifests/" />

</cmiSettings>
