<kentor.authServices entityId="@@CMI.Web.Frontend.AppData_Template.IdpMetadata.Url@@/Metadata" returnUrl="http://@@CMI.Engine.MailTemplate.Properties.Settings.PublicClientUrl@@/#/auth/success" minIncomingSigningAlgorithm="SHA1" outboundSigningAlgorithm="SHA1">
  <identityProviders>
    <add entityId="@@CMI.Web.Frontend.AppData_Template.IdpMetadata.Url@@/Metadata" loadMetadata="true" metadataLocation="~/App_Data/idp-metadata-ITU-test4.xml" allowUnsolicitedAuthnResponse="false" disableOutboundLogoutRequests="true" logoutUrl="http://@@CMI.Engine.MailTemplate.Properties.Settings.PublicClientUrl@@/logout" />
  </identityProviders>
  <serviceCertificates>
    <add storeName="My" storeLocation="LocalMachine" x509FindType="FindBySerialNumber" findValue="cdf7090a433561a843b51198b0ba61ac" use="Signing" status="Current" />
  </serviceCertificates>
  <requestedAuthnContext classRef="PasswordProtectedTransport">
  </requestedAuthnContext>
</kentor.authServices>