@for (m of menues; track m) {
  <div class="usersetting-section-list">
    <div class="header">
      <span>{{m.menu | translate:getTranslationKeyMenu(m) }}</span><span
    [class]="getSections(m)[0].iconClass + ' pull-right'"></span>
  </div>
  <ul>
    @for (section of getSections(m); track section) {
      <li (click)="goTo(section)" [ngClass]="{'active': section.active}">
        @if (!section.active) {
          <a href="javascript:void(0)">{{ section.displayName | translate:getTranslationKeySection(section) }}</a>
        }
        @if (section.active) {
          <span>{{ section.displayName | translate:getTranslationKeySection(section) }}<span class="sr-only"> active</span></span>
        }
      </li>
    }
  </ul>
</div>
}
