@if (!hideComponent) {
  <div class="markdown-preview">
    <button type="button" (click)="vorschauAnzeigen = !vorschauAnzeigen">
      @if (!vorschauAnzeigen) {
        <span>
          <span class="glyphicon glyphicon-eye-open"></span>&nbsp;Vorschau anzeigen
        </span>
      }
      @if (vorschauAnzeigen) {
        <span>
          <span class="glyphicon glyphicon-eye-close"></span>&nbsp;Vorschau schliessen
        </span>
      }
    </button>
    @if (vorschauAnzeigen) {
      <div class="markdown-preview-content">
        <markdown [data]="markdownText" ngPreserveWhitespaces></markdown>
      </div>
    }
  </div>
}
