<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Manager.DataFeed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Manager.DataFeed.Properties.DbConnectionSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CMI.Manager.DataFeed.Properties.Settings>
      <setting name="CheckQueueIntervalInSeconds" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="RequeueJobIntervalInSeconds" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="MaxNumberOfRetries" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DeleteSyncActionBeforeDays" serializeAs="String">
        <value>365</value>
      </setting>
      <setting name="DeleteSyncActionIntervalInHours" serializeAs="String">
        <value>24</value>
      </setting>
    </CMI.Manager.DataFeed.Properties.Settings>
    <CMI.Manager.DataFeed.Properties.DbConnectionSetting>
      <setting name="ConnectionStringEF" serializeAs="String">
        <value>metadata=res://*/CMI.Access.Sql.Viaduc.EF.Viaduc.csdl|res://*/CMI.Access.Sql.Viaduc.EF.Viaduc.ssdl|res://*/CMI.Access.Sql.Viaduc.EF.Viaduc.msl;provider=System.Data.SqlClient;provider connection string="@@CMI.SqlServer.DbConnectionSetting.ConnectionStringEF@@"</value>
      </setting>
    </CMI.Manager.DataFeed.Properties.DbConnectionSetting>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>