<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="CMI.Utilities.FormTemplate.Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CMI.Utilities.FormTemplate.Helper.Properties.Settings.DefaultConnection"
      connectionString="@@CMI.Utilities.FormTemplate.Helper.Properties.Settings.DefaultConnection.connectionString_Credentials@@;Server=@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.OracleHost@@;Direct=True;Service Name=@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.OracleServiceName@@;Port=1521"
      providerName="Devart.Data.Oracle" />
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <applicationSettings>
      <CMI.Utilities.FormTemplate.Helper.Properties.Settings>
          <setting name="SupportedLanguages" serializeAs="String">
              <value>de,en,fr,it</value>
          </setting>
          <setting name="OracleSchemaName" serializeAs="String">
              <value>@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.OracleSchemaName@@</value>
          </setting>
      </CMI.Utilities.FormTemplate.Helper.Properties.Settings>
  </applicationSettings>
</configuration>
