<div class="page page-home col-sm-12">

	<div class="page-breadcrumb">
		<cmi-viaduc-breadcrumb [items]="crumbs"></cmi-viaduc-breadcrumb>
	</div>

	<cmi-viaduc-layout-left-content>
		<div left>
			<cmi-viaduc-left-navigation></cmi-viaduc-left-navigation>
		</div>

		<div content>
			<cmi-loader *ngIf="loading" class="cmi-visible"></cmi-loader>

			<div class="page-header">
				<h2 class="page-content-title">
					<span>{{'Zuständige Stellen' | translate:'behoerdenZugriff.ablieferndeStelleTitel'}}</span>
				</h2>
			</div>
			<div class="tablecontainer">
				<div class="action-container">
					<div class="row action-buttons">
						<div class="col-xs-12">
							<span class="orders-menu-actions">
								<button type="button" class="btn btn-link" *ngIf="allowZustaendigeStellenBearbeiten" (click)="addNewAblieferndeStelle()">
									<span><span class="glyphicon glyphicon-plus-sign"></span> {{'Hinzufügen' | translate:'behoerdenZugriff.add'}}</span>
								</button>
								<button type="button" [disabled]="deleteButtonDisabled" *ngIf="allowZustaendigeStellenBearbeiten" class="btn btn-link"
										(click)="toggleDeleteModal()">
									<span><span class="icon icon--trash"></span> {{'Markierte Löschen' | translate:'behoerdenZugriff.buttondelete'}}</span>
								</button>
								<button (click)="exportExcel()" class="btn btn-link">
									<span><span class="icon icon--excel"></span> {{ 'Datenexport' | translate:'behoerdenZugriff.saveAsExcel' }}</span>
								</button>
								<button (click)="saveColumns()" class="btn btn-link">
									<span><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;{{ 'Ansicht speichern' | translate:'digipoolList.save' }}</span>
								</button>
								<button (click)="resetColumnsToDefault()" class="btn btn-link">
									<span><span class="icon icon--list-alt"></span>&nbsp;{{ 'Ansicht zurücksetzen' | translate:'digipoolList.reset' }}</span>
								</button>

								<button (click)="showColumnPickerModal()" class="btn btn-link">
									<span><span class="icon icon--tools"></span>&nbsp;{{ 'Spaltenauswahl' | translate:'usersAndRoles.columpicker' }}</span>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="row top-pagination">
					<div class="col-xs-12">
						<cmi-viaduc-odata-pagination [(collectionView)]="ablieferndeStellen"></cmi-viaduc-odata-pagination>
					</div>
				</div>
				<cmi-viaduc-grid #flexGrid
								 [itemsSource]="ablieferndeStellen"
								 [name]="'ablieferndeStelleList'"
								 [displaySelectionColumn]="true">

					<ng-template *ngIf="allowZustaendigeStellenBearbeiten" wjFlexGridCellTemplate [cellType]="'RowHeader'" let-cell="cell">
						<a (click)="editAblieferndeStelle(cell.item)" disabled="disabled">
							<i class="glyphicon glyphicon-pencil"></i>
						</a>
					</ng-template>

					<wj-flex-grid-column *ngFor="let col of visibleColumns"
										 [visible]="col.visible"
										 [binding]="col.key"
										 [width]="col.width"
										 [wordWrap]="col.wordWrap"
										 [minWidth]="col.minWidth ? col.minWidth : 25"
										 [format]="col.format"
										 [dataType]="col.dataType ? col.dataType : 1"
										 [header]="col.defaultLabel | translate:'ablieferndeStellen.columns.' + col.key">

						<ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item" *ngIf="col.key === 'user'">
							<ul>
								<li *ngFor="let item of item.applicationUserList">
									<a href="javascript:void(0)" (click)="goToUserDetail(item.id)">{{item.firstName +' '+ item.familyName}}</a>
								</li>
							</ul>
						</ng-template>

					</wj-flex-grid-column>

				</cmi-viaduc-grid>

				<ng-template #emptyTable>
					<div class="col-xs-12">
						<p>{{'Es sind noch keine Daten vorhanden.' | translate: 'behoerdenZugriff.NoDataYet'}}</p>
					</div>
				</ng-template>
				<div class="row bottom-pagination">
					<div class="col-xs-12">
						<cmi-viaduc-odata-pagination [(collectionView)]="ablieferndeStellen"></cmi-viaduc-odata-pagination>
					</div>
				</div>
			</div>
		</div>

	</cmi-viaduc-layout-left-content>
	<cmi-viaduc-modal [(opened)]="showDeleteModal"
					  [modalTitle]="'Löschen' | translate:'behoerdenZugriff.loeschentitle'">
		<cmi-viaduc-modal-body>
			<p *ngIf="getQuantityOfCheckedItmesToDelete() == 1">{{'Wollen Sie den gewählten Eintrag "{0}" definitiv
				löschen?' |
				translate:'behoerdenZugriff.confirmDeleteOne': getElementToDelete()}}</p>
			<p *ngIf="getQuantityOfCheckedItmesToDelete() > 1">{{'Wollen Sie die gewählten {0} Einträge definitiv
				löschen?' |
				translate:'behoerdenZugriff.confirmDelete': getQuantityOfCheckedItmesToDelete()}}</p>
		</cmi-viaduc-modal-body>
		<cmi-viaduc-modal-footer>
			<div class="row">
				<div class="col-xs-12">
					<button type="button" class="btn btn-secondary" (click)="toggleDeleteModal()">
						{{'Abbrechen' | translate:'behoerdenZugriff.cancel'}}
					</button>
					<button type="button" class="btn btn-primary" (click)="deleteCheckedAblieferndeStelle()">
						{{'Löschen' | translate:'behoerdenZugriff.loeschen'}}
					</button>
				</div>
			</div>
		</cmi-viaduc-modal-footer>
	</cmi-viaduc-modal>

	<cmi-viaduc-column-picker
		[(showColumnPickerModal)]="showColumnPicker"
		[visibleColumns]="visibleColumns"
		[hiddenColumns]="hiddenColumns"
		(showColumnClicked)="showColumn($event)"
		(hideColumnClicked)="hideColumn($event)">
	</cmi-viaduc-column-picker>
</div>
