<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Utilities.Bus.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CMI.Utilities.Bus.Configuration.Properties.Settings>
      <setting name="RabbitMqUri" serializeAs="String">
        <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqUri@@</value>
      </setting>
      <setting name="RabbitMqUserName" serializeAs="String">
        <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqUserName@@</value>
      </setting>
      <setting name="RabbitMqPassword" serializeAs="String">
        <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqPassword@@</value>
      </setting>
      <!-- Setting can be ommited or be empty. 
      If empty the response address defaults to the RabbitMqUri
      Only required for RequestResponse calls from BV to SSZ zone-->
      <setting name="RabbitMqUriResponseAddress" serializeAs="String">
        <value />
      </setting>
    </CMI.Utilities.Bus.Configuration.Properties.Settings>
  </applicationSettings>
  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>