<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <applicationSettings>
    <CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.Settings>
      <setting name="OraclePort" serializeAs="String">
        <value>@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.OraclePort@@</value>
      </setting>
      <setting name="OracleSID" serializeAs="String">
        <value />
      </setting>
      <setting name="OracleSchemaName" serializeAs="String">
        <value>@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.OracleSchemaName@@</value>
      </setting>
      <setting name="OracleHost" serializeAs="String">
        <value>@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.OracleHost@@</value>
      </setting>
      <setting name="OracleServiceName" serializeAs="String">
        <value>@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.OracleServiceName@@</value>
      </setting>
      <setting name="AlfrescoServiceUrl" serializeAs="String">
        <value>@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.AlfrescoServiceUrl@@</value>
      </setting>
      <setting name="OracleUser" serializeAs="String">
        <value>@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.Settings.OracleUser@@</value>
      </setting>
      <setting name="OraclePassword" serializeAs="String">
        <value>@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.Settings.OraclePassword@@</value>
      </setting>
      <setting name="AlfrescoUser" serializeAs="String">
        <value>@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.Settings.AlfrescoUser@@</value>
      </setting>
      <setting name="AlfrescoPassword" serializeAs="String">
        <value>@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.Settings.AlfrescoPassword@@</value>
      </setting>
    </CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <behaviors />
    <bindings>
      <customBinding>
        <binding name="bindingConfig">
          <textMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
