@if (selectedField) {
  <div class="search-field-row">
    <div class="col-sm-4 col-xs-12 search-col">
      <select class="form-control" [(ngModel)]="selectedDefinition" [id]="selectedField.id + '_dropdown'"
        (change)="onSelectedChanged()">
        @for (f of getAvailableDefinitions(); track f) {
          <option
            [selected]="f.key === selectedField.key ? 'selected' : ''" [ngValue]="f">
            {{translateSearchFieldValue(f)}}
          </option>
        }
      </select>
    </div>
    <div class="col-sm-8 col-xs-12 search-col">
      <div class="search-field-text">
        @switch (selectedField.type) {
          @case (FieldType.Dropdown) {
            <div style="margin:0 !important; padding:0 !important;">
              <select class="form-control" [name]="getUniqueTextboxName()" [(ngModel)]="selectedField.value">
                @for (v of selectedField.values; track v) {
                  <option [value]="v.value || v.label">{{v.label || v.value}}</option>
                }
              </select>
            </div>
          }
          @case (FieldType.Datespan) {
            <cmi-viaduc-date-range-field [name]="'dr_' + getUniqueTextboxName()" [(ngModel)]="selectedField"
            [uniqueName]="getUniqueTextboxName()"></cmi-viaduc-date-range-field>
          }
          @default {
            <div style="margin:0 !important; padding:0 !important;">
              <label class="sr-only" for="textBox{{selectedField.id}}">
                {{translateSearchFieldValue(selectedField)}}
              </label>
              @if (selectedField.autoFocus === true) {
                <input id="textBox{{selectedField.id}}" type="text" class="form-control"
                  [name]="getUniqueTextboxName()" [(ngModel)]="selectedField.value" autoFocus="true" (keydown)="onKeydownSearch($event)">
              }
              @if (selectedField.autoFocus !== true) {
                <input id="textBox{{selectedField.id}}" type="text" class="form-control"
                  [name]="getUniqueTextboxName()" [(ngModel)]="selectedField.value" (keydown)="onKeydownSearch($event)">
              }
            </div>
          }
        }
      </div>
      <div class="advanced-search-synonym-icon">
        <cmi-viaduc-search-synonym-icon [controlId]="getUniqueTextboxName()" [searchTerm]="selectedField.value"
        (addSynonymToSearchClicked)='onAddSynonymToSearchClicked($event)'></cmi-viaduc-search-synonym-icon>
      </div>
      @if (selectedField.id != '1_1') {
        <span class="pull-right m-0 p-0">
          <button type="button" (click)="deleteField()" class="btn btn-link">
            <!--Braucht beides um von allen Screenreadern erkannt zu werden-->
            <span class="screen-reader-only">
              {{'Suchfeld entfernen' | translate:'advancedSearchField.removeCriteria'}}
            </span>
            <span class="glyphicon glyphicon-minus ms-1"  tooltip="{{'Suchfeld entfernen' | translate:'advancedSearchField.removeCriteria'}}"></span>
          </button>
        </span>
      }
    </div>
    <div class="col-xs-12 hidden-sm hidden-lg hidden-md hidden-xl">
      <hr>
      </div>
    </div>
  }
