<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GreenPipes" version="2.1.4" targetFramework="net462" />
  <package id="MassTransit" version="5.5.6" targetFramework="net48" />
  <package id="MassTransit.RabbitMQ" version="5.5.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.FileSystems" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Hosting" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.StaticFiles" version="4.1.0" targetFramework="net48" />
  <package id="NewId" version="3.0.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net48" />
  <package id="Ninject" version="3.3.4" targetFramework="net48" />
  <package id="Ninject.Extensions.NamedScope" version="3.3.0" targetFramework="net462" />
  <package id="Ninject.Web.Common" version="3.3.2" targetFramework="net48" />
  <package id="Ninject.Web.Common.OwinHost" version="3.3.1" targetFramework="net48" />
  <package id="Ninject.Web.WebApi" version="3.3.0" targetFramework="net48" />
  <package id="Ninject.Web.WebApi.OwinHost" version="3.3.0" targetFramework="net462" />
  <package id="NJsonSchema" version="9.13.17" targetFramework="net462" />
  <package id="NSwag.Annotations" version="12.0.13" targetFramework="net462" />
  <package id="NSwag.AspNet.Owin" version="12.0.13" targetFramework="net462" />
  <package id="NSwag.Core" version="12.0.13" targetFramework="net462" />
  <package id="NSwag.SwaggerGeneration" version="12.0.13" targetFramework="net462" />
  <package id="NSwag.SwaggerGeneration.WebApi" version="12.0.13" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="RabbitMQ.Client" version="5.1.2" targetFramework="net48" />
  <package id="Rebex.Common" version="2.5.6690" targetFramework="net462" />
  <package id="Rebex.FileServer" version="1.0.6690" targetFramework="net462" />
  <package id="Rebex.FileSystem" version="1.0.6690" targetFramework="net462" />
  <package id="Rebex.Networking" version="3.5.6690" targetFramework="net462" />
  <package id="Serilog" version="2.9.0" targetFramework="net48" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" requireReinstallation="true" />
</packages>