<div class="page page-auth-success col-sm-12">
  @if (success === true) {
    <h1>{{ 'Anmeldung erfolgreich' | translate:'account.logInSuccessful' }}</h1>
  }
  @if (success === false) {
    <h1>{{ 'Anmeldung nicht erfolgt' | translate:'account.loginFailureOrAborted' }}</h1>
  }
  <a (click)="redirectToOriginBeforeLogin();"><span>{{ 'Zurück zur Ausgangsseite' | translate:'account.backToPage' }}</span></a><br/>
  @if (success === true) {
    <span>{{ 'Wenn Sie nicht weitergeleitet werden, klicken Sie bitte den obenstehenden Link.' | translate:'account.clickIfNotRedirected' }}</span>
  }
</div>
