<kentor.authServices entityId="https://viaducdev.cmiag.ch/eiammock/f22102a1-dd43-40f7-9e44-4a198ccd785b/Metadata" returnUrl="http://localhost/viaducmanagement/?roles=bar#/auth/success" minIncomingSigningAlgorithm="SHA1" outboundSigningAlgorithm="SHA1">
  <identityProviders>
    <add entityId="https://viaducdev.cmiag.ch/eiammock/f22102a1-dd43-40f7-9e44-4a198ccd785b/Metadata" loadMetadata="true" metadataLocation="~/App_Data/idp-metadata-ITU-test4.xml" allowUnsolicitedAuthnResponse="false" disableOutboundLogoutRequests="true" logoutUrl="http://localhost:3080/logout" />
  </identityProviders>
  <serviceCertificates>
    <add storeName="My" storeLocation="LocalMachine" x509FindType="FindBySerialNumber" findValue="cdf7090a433561a843b51198b0ba61ac" use="Signing" status="Current" />
  </serviceCertificates>
  <requestedAuthnContext classRef="PasswordProtectedTransport">
  </requestedAuthnContext>
</kentor.authServices>