<cmiSettings>
  <add key="sqlConnectionString" value="@@CMI.SqlServer.DbConnectionSetting.ConnectionString@@" />
  <add key="sqlConnectionStringEF" value="metadata=res://*/CMI.Access.Sql.Viaduc.EF.Viaduc.csdl|res://*/CMI.Access.Sql.Viaduc.EF.Viaduc.ssdl|res://*/CMI.Access.Sql.Viaduc.EF.Viaduc.msl;provider=System.Data.SqlClient;provider connection string='@@CMI.SqlServer.DbConnectionSetting.ConnectionStringEF@@'" />

  <add key="sftpLicenseKey" value="@@cmiSettings.sftpLicenseKey@@" />

  <add key="clientDefaultPath" value="/client/" />
  <add key="indexPagePath" value="~/client/index.html" />
  
  <add key="configDirectory" value="~/App_Data" />
  <add key="clientConfigDirectory" value="~/client/config" />

  <add key="injectTranslations" value="true" />
  <add key="injectSettings" value="false" />
  <add key="injectModelData" value="false" />
  
  <add key="enableIndexPageCaching" value="false" />
  
  <add key="enableTranslationsCaching" value="false" />
  <add key="enableSettingsCaching" value="false" />
  <add key="enableModelDataCaching" value="false" />
    
  <add key="logoutUrl" value="https://www.recherche.bar.admin.ch/auth/saml2/slo" />
  <add key="publicClientUrl" value="@@CMI.Web.Frontend.AppData_Template.PublicClientUrl@@/" />
  <add key="managementAuthReturnUrl" value="@@CMI.Web.Frontend.AppData_Template.ManagementClientUrl@@/#/auth/success" />

  <add key="managementLogoutReturnUrl" value="@@CMI.Web.Frontend.AppData_Template.ManagementClientUrl@@" />

  <add key="rabbitMqManagementUri" value="http://localhost:15672/" />

  <add key="serviceHeartbeatRequestTimeout" value="5" />
  <add key="serviceTestRequestTimeout" value="15" />
  <add key="serviceRequestTimeToLive" value="5" />
  <add key="cookieExpireTimeInMinutes" value="60" />

</cmiSettings>
