<kentor.authServices entityId="http://localhost:3080/f22102a1-dd43-40f7-9e44-4a198ccd785b/Metadata" returnUrl="http://localhost/viaducmanagement/?roles=bar#/auth/success" minIncomingSigningAlgorithm="SHA1" outboundSigningAlgorithm="SHA1">
  <identityProviders>
    <add entityId="http://localhost:3080/f22102a1-dd43-40f7-9e44-4a198ccd785b/Metadata" loadMetadata="true" metadataLocation="~/App_Data/idp-metadata-ITU-test4.xml" allowUnsolicitedAuthnResponse="false" disableOutboundLogoutRequests="true" logoutUrl="http://localhost:3080/logout" />
  </identityProviders>
  <serviceCertificates>
    <add storeName="My" storeLocation="LocalMachine" x509FindType="FindBySerialNumber" findValue="00aca5c3829e974aa7" use="Signing" status="Current" />
  </serviceCertificates>
  <requestedAuthnContext classRef="PasswordProtectedTransport">
  </requestedAuthnContext>
</kentor.authServices>

<!-- Kentor management/private
<kentor.authServices entityId="urn:eiam.admin.ch:sp:Test4Auto" returnUrl="http://localhost/viaducmanagement/private/?roles=bar#/auth/success" minIncomingSigningAlgorithm="SHA1" outboundSigningAlgorithm="SHA1" modulePath="/private/AuthServices">
  <identityProviders>
    <add entityId="urn:eiam.admin.ch:pep:ITU" loadMetadata="true" metadataLocation="~/App_Data/idp-metadata-ITU-test4.xml" allowUnsolicitedAuthnResponse="false" disableOutboundLogoutRequests="true" logoutUrl="https://test4.gate-a.bit.admin.ch/?logout" />
  </identityProviders>
  <serviceCertificates>
    <add storeName="My" storeLocation="LocalMachine" x509FindType="FindBySerialNumber" findValue="00aca5c3829e974aa7" use="Signing" status="Current" />
  </serviceCertificates>
</kentor.authServices>
-->