@if (parameter) {
  <div [class]="getErrorClass()" [title]="parameter.default ? parameter.default: ''">
    <div class="col-md-3">
      <cmi-viaduc-highlight [text]="name" [highlight]="searchString"></cmi-viaduc-highlight>
    </div>
    <var class="col-md-3">
      {{parameter.description}}
    </var>
    <div class="col-md-4" [formGroup]="myForm">
      @if (parameter.type === 'checkbox') {
        <input type="checkbox" formControlName="parameterValue">
      }
      @if (parameter.type !== 'textarea' && parameter.type !== 'checkbox') {
        <input [class]="getInputClass()" [type]="parameter.type" formControlName="parameterValue">
      }
      @if (parameter.type == 'textarea') {
        <textarea autoSize [class]="getInputClass()" formControlName="parameterValue"></textarea>
      }
      @if (formControls.parameterValue.invalid && (formControls.parameterValue.dirty || formControls.parameterValue.touched)) {
        <div class="parameter-error">
          @if (formControls.parameterValue.errors.pattern) {
            <small>{{parameter.errrorMessage}}</small>
          }
          @if (formControls.parameterValue.errors.required) {
            <small>Es muss ein Wert angegeben werden.</small>
          }
        </div>
      }
    </div>
    @if (!myForm.dirty) {
      <div class="col-md-2" [formGroup]="myForm">
        <input type="checkbox" id="isDefault" formControlName="isDefault" disabled>
      </div>
    }
    @if (myForm.dirty && allowEinstellungenBearbeiten) {
      <div class="col-md-2" [formGroup]="myForm">
        <input type="button" class="btn" value="Speichern" [disabled]="!myForm.valid" (click)="saveParameter()">
        <input type="button" class="btn" value="Abbrechen" (click)="cancelEdit()">
      </div>
    }
  </div>
}
