<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Utilities.Bus.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMI.Manager.Vecteur.Properties.VecteurSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CMI.Utilities.Bus.Configuration.Properties.Settings>
      <setting name="RabbitMqUri" serializeAs="String">
        <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqUri@@</value>
      </setting>
      <setting name="RabbitMqUserName" serializeAs="String">
        <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqUserName@@</value>
      </setting>
      <setting name="RabbitMqPassword" serializeAs="String">
        <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqPassword@@</value>
      </setting>
      <!-- Setting can be ommited or be empty. 
      If empty the response address defaults to the RabbitMqUri
      Only required for RequestResponse calls from BV to SSZ zone-->
      <setting name="RabbitMqUriResponseAddress" serializeAs="String">
        <value />
      </setting>
    </CMI.Utilities.Bus.Configuration.Properties.Settings>
    <CMI.Manager.Vecteur.Properties.VecteurSettings>
      <setting name="BaseDirectory" serializeAs="String">
        <value>c:\vecteur</value>
      </setting>
      <setting name="Address" serializeAs="String">
        <value>@@CMI.Manager.Vecteur.Properties.VecteurSettings.Address@@</value>
      </setting>
      <setting name="SftpPort" serializeAs="String">
        <value>11127</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value>@@CMI.Manager.Vecteur.Properties.VecteurSettings.ApiKey@@</value>
      </setting>
      <setting name="RequestTimeoutInMinute" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SftpPassword" serializeAs="String">
        <value>@@CMI.Manager.Vecteur.Properties.VecteurSettings.SftpPassword@@</value>
      </setting>
      <setting name="SftpLicenseKey" serializeAs="String">
        <value>@@CMI.Manager.Vecteur.Properties.VecteurSettings.SftpLicenseKey@@</value>
      </setting>
      <setting name="SftpPrivateCertKey" serializeAs="String">
        <value>@@CMI.Manager.Vecteur.Properties.VecteurSettings.SftpPrivateCertKey@@</value>
      </setting>
      <setting name="SftpPrivateCertPassword" serializeAs="String">
        <value>@@CMI.Manager.Vecteur.Properties.VecteurSettings.SftpPrivateCertPassword@@</value>
      </setting>
    </CMI.Manager.Vecteur.Properties.VecteurSettings>
  </applicationSettings>
  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>