<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Access.Repository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CMI.Access.Repository.Properties.Settings>
      <setting name="RepositoryServiceUrl" serializeAs="String">
        <value>@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.AlfrescoServiceUrl@@</value>
      </setting>
      <setting name="RepositoryUser" serializeAs="String">
        <value>@@CMI.Access.Repository.Properties.Settings.RepositoryUser@@</value>
      </setting>
      <setting name="RepositoryPassword" serializeAs="String">
        <value>@@CMI.Access.Repository.Properties.Settings.RepositoryPassword@@</value>
      </setting>
      <setting name="ConnectionMode" serializeAs="String">
        <value>atom</value>
      </setting>
      <setting name="FixityAlgorithmRefElementName" serializeAs="String">
        <value>Fixity Algorithm Ref</value>
      </setting>
      <setting name="FixityValueElementName" serializeAs="String">
        <value>Fixity Value</value>
      </setting>
    </CMI.Access.Repository.Properties.Settings>
  </applicationSettings>
  <runtime>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
