@if (items) {
  <div class="detail-hierarchy">
    @for (item of items; track item; let i = $index) {
      <span [ngClass]="item.itemClasses"
        [ngStyle]="{ 'padding-left.em': (inset*(item.depth)) }">
        @if (item.itemClasses !== 'selected') {
          <a tabindex="0" (keyup.enter)="open(item)" (click)="open(item)">
            @if (item.referenceCode) {
              <span>{{item.referenceCode}}&nbsp;</span>
            }
            <span [innerHTML]="item.title|anonymizedHtml"></span>
            @if (item.isAnonymized && isBarUser) {
              <i aria-label="{{'Für nicht berechtigte NutzerInnen anonymisiert.' | translate:'simpleHit.anonymToolTip'}}"
              [tooltip]="'Für nicht berechtigte NutzerInnen anonymisiert.' | translate:'simpleHit.anonymToolTip'" class="glyphicon glyphicon-eye-close text-danger" role="img"></i>
            }
          </a>
        }
        @if (item.itemClasses === 'selected') {
          <span tabindex="0" [attr.aria-describedby]="'Aktuell angezeigte Verzeichnungseinheit' | translate:'detailHierarchy.activePosition'">
            @if (item.referenceCode) {
              <span>{{item.referenceCode}}&nbsp;</span>
            }
            <span [innerHtml]="item.title|anonymizedHtml"></span>
            @if (item.isAnonymized && isBarUser) {
              <i aria-label="{{'Für nicht berechtigte NutzerInnen anonymisiert.' | translate:'simpleHit.anonymToolTip'}}"
              [tooltip]="'Für nicht berechtigte NutzerInnen anonymisiert.' | translate:'simpleHit.anonymToolTip'" class="glyphicon glyphicon-eye-close text-danger" role="img"></i>
            }
          </span>
        }
      </span>
    }
  </div>
}
