<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	    <section name="CMI.Utilities.DigitalRepository.PrimaryDataHarvester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
     <section name="CMI.Access.Repository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	    <section name="CMI.Manager.Repository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	    <section name="CMI.Access.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	    <section name="CMI.Utilities.Bus.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
	<appSettings>
		<add key="serilog:minimum-level" value="Warning" />
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.path" value="C:\Temp\dest\log.txt" />
	</appSettings>
	<applicationSettings>
	  <CMI.Utilities.Bus.Configuration.Properties.Settings>
		  <setting name="RabbitMqUri" serializeAs="String">
			  <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqUri@@</value>
		  </setting>
		  <setting name="RabbitMqUserName" serializeAs="String">
			  <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqUserName@@</value>
		  </setting>
		  <setting name="RabbitMqPassword" serializeAs="String">
			  <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqPassword@@</value>
		  </setting>
		  <!-- Setting can be ommited or be empty. 
      If empty the response address defaults to the RabbitMqUri
      Only required for RequestResponse calls from BV to SSZ zone-->
		  <setting name="RabbitMqUriResponseAddress" serializeAs="String">
			  <value>@@CMI.Utilities.Bus.Configuration.Properties.Settings.RabbitMqUri@@</value>
		  </setting>
	  </CMI.Utilities.Bus.Configuration.Properties.Settings>
	  <CMI.Utilities.DigitalRepository.PrimaryDataHarvester.Properties.Settings>
     <setting name="FileCopyDestinationPath" serializeAs="String">
       <value>C:\Temp\TestData</value>
     </setting>
   </CMI.Utilities.DigitalRepository.PrimaryDataHarvester.Properties.Settings>
   <CMI.Access.Repository.Properties.Settings>
		  <setting name="RepositoryServiceUrl" serializeAs="String">
			  <value>@@CMI.Utilities.DigitalRepository.CreateTestDataHelper.Properties.AlfrescoServiceUrl@@</value>
		  </setting>
		  <setting name="RepositoryUser" serializeAs="String">
			  <value>@@CMI.Access.Repository.Properties.Settings.RepositoryUser@@</value>
		  </setting>
		  <setting name="RepositoryPassword" serializeAs="String">
			  <value>@@CMI.Access.Repository.Properties.Settings.RepositoryPassword@@</value>
		  </setting>
		  <setting name="ConnectionMode" serializeAs="String">
			  <value>atom</value>
		  </setting>
		  <setting name="FixityAlgorithmRefElementName" serializeAs="String">
			  <value>Fixity Algorithm Ref</value>
		  </setting>
		  <setting name="FixityValueElementName" serializeAs="String">
			  <value>Fixity Value</value>
		  </setting>
	  </CMI.Access.Repository.Properties.Settings>
	  <CMI.Manager.Repository.Properties.Settings>
		  <setting name="TempStoragePath" serializeAs="String">
			  <value>C:\Temp\PrimaryDataHarvester</value>
		  </setting>
		  <!-- In case we don't use sftp normal file copy is done.
           Enter the directory to where the final zip file is copied.
           Setting is ignored, if sftp is used. -->
		  <setting name="FileCopyDestinationPath" serializeAs="String">
			  <value>C:\Temp\TestData</value>
		  </setting>
		  <!-- Indicates if final zip files are copied using sftp or file copy -->
		  <setting name="UseSFTP" serializeAs="String">
			  <value>False</value>
		  </setting>
		  <setting name="SFTPHost" serializeAs="String">
			  <value>@@CMI.Manager.Repository.Properties.Settings.SFTPHost@@</value>
		  </setting>
		  <setting name="SFTPPort" serializeAs="String">
			  <value>22</value>
		  </setting>
		  <setting name="SFTPUser" serializeAs="String">
			  <value>@@CMI.Manager.Repository.Properties.Settings.SFTPUser@@</value>
		  </setting>
		  <setting name="SFTPPassword" serializeAs="String">
			  <value>@@CMI.Manager.Repository.Properties.Settings.SFTPPassword@@</value>
		  </setting>
		  <!-- Optional setting. Indicates the public key file of the SFTP server. 
           If left blank, connection is made without without keys. -->
		  <setting name="SFTPKeyFile" serializeAs="String">
			  <value />
		  </setting>
	  </CMI.Manager.Repository.Properties.Settings>
	<CMI.Access.Common.Properties.Settings>
		  <setting name="ElasticSearchUrl" serializeAs="String">
			  <value>@@CMI.Web.Frontend.AppData_Template.ConfigJson.ElasticUrl@@</value>
		  </setting>
	  </CMI.Access.Common.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.3" newVersion="6.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.11.0" newVersion="6.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Diagnostics.HealthChecks" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.11.0" newVersion="6.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit.Abstractions" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.16.0" newVersion="8.0.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.16.0" newVersion="8.0.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
