<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMI.Access.Harvest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <CMI.Access.Harvest.Properties.Settings>
      <setting name="ActaProEndpoint" serializeAs="String">
        <value>@@CMI.Access.Harvest.Properties.Settings.ActaProEndpoint@@</value>
      </setting>
      <setting name="ActaProTokenEndpoint" serializeAs="String">
        <value>@@CMI.Access.Harvest.Properties.Settings.ActaProTokenEndpoint@@</value>
      </setting>
      <setting name="ActaProUser" serializeAs="String">
        <value>@@CMI.Access.Harvest.Properties.Settings.ActaProUser@@</value>
      </setting>
      <setting name="ActaProPassword" serializeAs="String">
        <value>@@CMI.Access.Harvest.Properties.Settings.ActaProPassword@@</value>
      </setting>
      <setting name="ActaProTokenPassword" serializeAs="String">
        <value>@@CMI.Access.Harvest.Properties.Settings.ActaProTokenPassword@@</value>
      </setting>
      <setting name="ActaProTokenUser" serializeAs="String">
        <value>@@CMI.Access.Harvest.Properties.Settings.ActaProTokenUser@@</value>
      </setting>
      <setting name="ActaProGrantType" serializeAs="String">
        <value>@@CMI.Access.Harvest.Properties.Settings.ActaProGrantType@@</value>
      </setting>
    </CMI.Access.Harvest.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>