<div class="content-frame-wrapper">
  @if (editMode) {
    <div class="content-edit-anchor">
      <a (click)="openEditor()"><i class="glyphicon glyphicon-new-window"></i></a>
    </div>
  }

  @if (!hasError) {
    <div id='loadedHtml' [innerHtml]="loadedHtml | safeHtml">
    </div>
  }

  @if (hasError) {
    <div class="search-warning alert alert-danger">
      <strong>{{errorMessage}}</strong><br/>
      <span [innerHtml]="errorDetails"></span>
    </div>
  }

  @if (loading) {
    <cmi-loader class="cmi-visible"></cmi-loader>
  }
</div>
